{% load static %}

<!-- Post -->
<article id="scope3" class="post">
    <header>
        <div class="title">
            <h2>Fight against Climate Change Starts with Transparency (4/5)</h2>
        </div>
    </header>

    <section>
        <h2>Do Not Be Fooled By The (CDP) Score!</h2>

        <p> New York, November 2021 - For most sustainability professionals, the ultimate measure of climate reporting quality and transparency is
            the CDP score (climate change questionnaire). It is used by almost 10,000 companies to advertise their
            progress
            towards environmental stewardship and communicate to investors.
            Over the past few months, I have explored the parallels between finance and carbon reporting and realized
            that a CDP score is far from telling the full story. Many experienced leaders in sustainability report that
            this
            score is more related to the completeness of answers to the questionnaire than real climate performance and
            carbon emission reductions. But isnt't it natural to think that there is a relation between transparency and
            performance? How can we measure this relation?
            <br><b>Good news</b>: this week, MSCi made public a new forward-looking indicator to measure the alignment
            of
            companies, portfolios and funds with global climate targets : <a
                href="https://www.msci.com/our-solutions/climate-investing/net-zero-solutions/implied-temperature-rise"
                target="_blank" rel="noopener noreferrer">the Implied Temperature Rise (ITR)</a>. You can now search
            over
            2,900
            companies and check
            their ITR and decarbonization target. Thank you MSCi for this contribution!
            So let's compare the 2 metrics for the top 100 US companies, starting with the distribution of scores as
            shown below. <br>
        </p>
        <div class="row">
            <div align="center" class="col-6 col-12-medium">
                <img src="{% static 'django_project/images/blog/cdp_scores_dist.jpeg' %}" class="image featured"
                    alt="" />
            </div>
            <div align="center" class="col-6 col-12-medium">
                <img src="{% static 'django_project/images/blog/itr_scores_dist.jpeg' %}" class="image featured"
                    alt="" />
            </div>
        </div>


        <p>CDP score distribution is significantly skewed to good scores with 48% and 21% of companies scoring
            respectively A/A- and B. ITR score distribution looks similar but proportions are quite different with only
            15% of companies below 1.5°C and 38% between 1.5°C and 2°C. This distribution is a sad reminder that despite
            all the net zero pledges and alignment to 1.5°C scenario, US companies are very far from being aligned with
            Paris agreement.

            Let's now plot ITR by CDP score category to understand the relationship. </p>

        <div class="row">
            <div align="center" class="col-12 col-12-medium">
                {% include 'django_project/blog/cdp_itr.html' %}
            </div>
        </div>

        <p>
            A few observations:
        <ul>
            <li>
                No clear correlation between CDP and ITR scores, even if most of the companies aligning with a below 2°C
                scenario have a good CDP score
            </li>


            <li>Most of C-score companies are below 2°C (AIG, Paypal, Verizon, McDonald, Target, Comcast)</li>
            <li>F-score companies (no CDP reporting) show a few surprises: Berkshire Hathaway and Tesla respectively show a 2.25°C and 2.81°C alignment but do not disclose any carbon data. Facebook and Netflix (committed to reporting to CDP this year) are well
                below
                2°C. Could Charter Communications (1.7°C) be the next
                one?
            </li>
            <li>High temperatures (>3.5°C) are among all the CDP scores categories: General Motors (A / 4°C), Southern
                Company
                (A- / 4°C), Dow (B / 4°C), Kraft Heinz (B- / 3.8°C), General Electric (D / 4°C), Nextera Energy (F /
                3.61°C) and
                Exxon
                Mobil (F / 4°C)</li>
        </ul>

        Based on this chart (and a limited number of companies), we cannot conclude that there is a link between the 2 metrics even if transparency
        should naturally be correlated with the level of carbon reduction targets and climate scenarios. We should
        also challenge the methodology of the new MSCi indicator as some results are surprising (for example,
        Microsoft or Tesla).

        <br>Please feel free to share your comments.
        </p>
    </section>

    <footer>
        <ul class="icons">
            <li><a href="https://twitter.com/VincentManier" target="_blank" rel="noopener noreferrer"
                    class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.linkedin.com/in/vincent-manier-85aa257/" target="_blank" rel="noopener noreferrer"
                    class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="mailto: vmanier2020@gmail.com" target="_blank" rel="noopener noreferrer"
                    class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            {% comment %}
            <li><a href="https://github.com/VinBots/django_project" target="_blank" rel="noopener noreferrer"
                    class="icon brands fa-github"><span class="label">Github</span></a></li>
            {% endcomment %}
        </ul>
    </footer>
</article>