{% load static %}

<!-- Post -->
<article id="transparency" class="post">
    <header>
        <div class="title">
            <h2>Fight against Climate Change Starts with Transparency (1/5)</h2>
        </div>
    </header>

    <section>
        <h2>The Big Picture</h3>

            <p>The general public should be able to understand and track the climate performance of companies they work
                for
                or buy products or services from. Our collective awareness of climate change risks is
                going
                to intensify in the coming years and new regulations will soon impose more stringent obligations on
                greenhouse gas emissions disclosure. Looking at the top 100 largest American companies, what is our
                starting
                point? How do we define climate transparency? What do Amazon, Berkshire and Tesla have in common? <br>


                Transparency refers to clear public disclosures, completeness, timeliness, verification and
                quality of climate performance data within generall-accepted accounting frameworks. For GreenHouse Gas
                (GHG)
                emissions, it means reporting full scope emissions over at least 2 comparable years, fully and
                positively
                verified by an external third-party, and publicly disclosing supporting materials, such as <a href="https://www.cdp.net/en/"
                target="_blank" rel="noopener noreferrer">CDP</a>
                questionnaire and verification reports. The level of disclosure is
                also
                assessed by the <a href="https://www.cdp.net/en/"
                    target="_blank" rel="noopener noreferrer">CDP</a> score.
            </p>

            <div class="row">

                <div align="center" class="col-12 col-12-medium">
                    <h3></h3>
                    <img src="{% static 'django_project/images/charts/general/transparency_analysis.jpeg' %}"
                        class="image featured" alt="" />
                    </p><br>
                </div>

                <div align="center" class="col-12 col-12-medium">
                    <h3>Major Companies Failing on Transparency</h3><br>
                    {% include "django_project/blog/content/top5_missing_cut.html" %}

                </div>

            </div>

    </section>

    <footer>
        <ul class="icons">
            <li><a href="https://twitter.com/VincentManier" target="_blank" rel="noopener noreferrer"
                    class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.linkedin.com/in/vincent-manier-85aa257/" target="_blank" rel="noopener noreferrer"
                    class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="mailto: vmanier2020@gmail.com" target="_blank" rel="noopener noreferrer"
                    class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            {% comment %}
            <li><a href="https://github.com/VinBots/django_project" target="_blank" rel="noopener noreferrer"
                    class="icon brands fa-github"><span class="label">Github</span></a></li>
            {% endcomment %}
        </ul>
    </footer>
</article>