{% load static %}

<!-- Post -->
<article id="best_practices" class="post">
    <header>
        <div class="title">
            <h2>Fight against Climate Change Starts with Transparency (5/5)</h2>
        </div>
    </header>

    <section>
        <h2>Focus on Progress! First Observations on 2022 Climate Reporting</h2>

        <p>
            <span class="image left"><img width="100" src="{% static 'django_project/images/blog/t_mobile_cover.jpg' %}"
                    alt="" /></span>
            New York, June 2022 - One year ago, I started analyzing the climate performance of
            the top 100 American companies by scanning through their website, sustainability reporting, CDP
            disclosures, verification report and updates about their progress to date.
            I added additional data points from MSCi (<a
                href="https://www.msci.com/our-solutions/climate-investing/net-zero-solutions/implied-temperature-rise"
                target="_blank" rel="noopener noreferrer">Implied Temperature Rise</a>) and SBTi with the
            objective to calculate a global climate performance score that
            balances transparency (30%), commitments
            (40%) and results (30%). See methodology <a href="{% url 'faq' %}">here</a> (note that the scores will be
            updated
            after completing all the reviews by early July 2022.).
            <br>
        <p>Over the past 3 months, many sustainability reports were released to the public. Here's my first
            observations on 2022 Climate Reporting:
            <br>
        </p>
        <br>📉<b>Focus is clearly shifting from aspirational goals and compliance to analysis of progress against
            targets.</b> We also observe much fewer new targets in 2021/2022. This is consistent with the SBTi project
        to better measure progress against stated targets (see <a
            href="https://sciencebasedtargets.org/reports/sbti-progress-report-2021" target="_blank"
            rel="noopener noreferrer">SBTI PROGRESS REPORT 2021</a>)

        <br>📈<b>More companies report on their climate performance</b> with also better transparency, dedicated
        resources
        on often revamped sustainability section of corporates websites and much better explanations about methodology,
        key figures (providing a full 'ESG data table' seems like a best practice) and alignement with other reporting
        frameworks (e.g.
        CDP, GRI,
        TCFD...).
        <br>🔍<b>Better control: </b>the level of third-party external assurance on GHG emissions disclosures
        tends
        to
        increase, with more
        companies moving from limited to reasonable assurance (mainly over scope 1 and 2).

        <br>🔓<b>Still too many restatements</b>: as companies are expanding the management of their GHG
        footprint,
        better methodology and calculations are retroactively applied to past years, but usually without an additional
        third-party verification.
        <br>⌛️<b>GHG reporting is still issued very late compared to financial information</b>. Most climate reporting
        are
        issued 6
        to 9 months after the closing of the reporting period. A few companies started dislosing estimates with
        disclaimers.
        <br>📊<b>Scope 3 reporting is still very unstable and heterogeneous</b>. In general, more categories are
        added
        and verified but normalization and good understanding of full value chain performance will remain challenging
        until we get
        confident about the comprehensiveness of scope 3 reporting. Supplier engagement initiatives are increasing
        though.
        <br><br>

        Please feel free to share your comments.
        <a href="mailto: vmanier2020@gmail.com" target="_blank" rel="noopener noreferrer"
            class="icon solid fa-envelope"><span class="label">Email</span></a>

        </p>
    </section>

    <hr />

    <footer>
        <ul class="icons">
            <li><a href="https://twitter.com/VincentManier" target="_blank" rel="noopener noreferrer"
                    class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.linkedin.com/in/vincent-manier-85aa257/" target="_blank" rel="noopener noreferrer"
                    class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="mailto: vmanier2020@gmail.com" target="_blank" rel="noopener noreferrer"
                    class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
    </footer>
</article>