{% load humanize %}
{% load static %}

{{top5_mising_cut}}
<div class="container" width=100%>

    <table id="lb_corp_table" class="lb_corporates" data-show-columns="true">
        <thead>
            <tr>
                <th>Transparency Criteria</th>
                <th>Id</th>
                <th>Company Name</th>
            </tr>
        </thead>
        <tbody>

            {% for key, value in top5_mising_cut.items %}
            <tr>

                <td>
                    {{key|safe}}

                </td>
                <td>                    
                {% for key, data in value.company_id.items %}
                <a href="" title=""><img
                    src="{% static 'django_project/images/logos/' %}logo_{{data}}.png"
                    alt="picture_2"></a>
                {% endfor %}
                </td>
                <td>
                {% for key, data in value.company_name.items %}
                <a href="{% url 'corporates_home'%}{{i.company_name}}"
                title="{{data}}">{{data}}</a>                
                {% endfor %}

                </td>
            
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>

{% comment %}




{% endcomment %}
