{% load humanize %}
{% load static %}

<div class="container" width=100%>
    <table id="lb_corp_table" class="lb_corporates" data-show-columns="true">
        <thead>
            <tr>
                <th>Transparency Issues</th>
                <th>Top 5 Companies Failing at Transparency</th>
            </tr>
        </thead>
        <tbody>

            {% for key, value in top5_mising_cut.items %}
            <tr>

                <td>
                    {{key|safe}}
                </td>
                <td>
                    {% for data in value.data %}
                    <a href="{% url 'corporates_home'%}{{data.1}}" title="{{data.1}}"><img
                            src="{% static 'django_project/images/logos/' %}logo_{{data.0}}.png" alt="picture_2"></a>

                    <a href="{% url 'corporates_home'%}{{data.1}}" title="{{data.1}}">{{data.1}}</a>
                    <br>
                    {% endfor %}

                </td>

            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>