{% load humanize %}
{% load static %}

<div class="container" width=100%>
{{top5_mising_cut}}
    <table id="lb_corp_table" class="lb_corporates" data-show-columns="true">
        <thead>
            <tr>
                <th>Transparency Criteria</th>
                <th>Major Companies <b>Not</b> Meeting the Transparency Criteria</th>
            </tr>
        </thead>
        <tbody>

            {% for key, value in top5_mising_cut %}
            <tr>

                <td>
                    {{key|safe}}
                </td>
                <td>
                {% for data in value.data %}
                {{data.0}} + {{data.1}}                
                {% endfor %}

                </td>
            
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>

{% comment %}




{% endcomment %}
