{% extends 'django_project/core_input/sidebar_sections/layout.html' %}

{% block sections %}

{% include 'django_project/core_input/sidebar_sections/general.html' %}
{% include 'django_project/core_input/sidebar_sections/verification.html' %}
{% include 'django_project/core_input/sidebar_sections/netzero.html' %}
{% include 'django_project/core_input/sidebar_sections/ghg.html' %}
{% include 'django_project/core_input/sidebar_sections/targets.html' %}
{% include 'django_project/core_input/sidebar_sections/cdp.html' %}
{% include 'django_project/core_input/sidebar_sections/comments.html' %}

{% endblock %}