{% load humanize %}
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th></th>
                {% for data in db.ghg %}
                <th>Y{{data.reporting_year}}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Scope 1</td>
                {% for data in db.ghg %}
                <td>{{data.ghg_scope_1}}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Scope 2 - location-based</td>
                {% for data in db.ghg %}
                <td>{{data.ghg_loc_scope_2}}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Scope 2 - market-based</td>
                {% for data in db.ghg %}
                <td>{{data.ghg_mkt_scope_2}}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Scope 1-2 - location-based</td>
                {% for data in db.ghg %}
                <td>{{data.scope_12_loc}}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Scope 1-2 - market-based</td>
                {% for data in db.ghg %}
                <td>{{data.scope_12_mkt}}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Scope 3</td>

                {% for data in db.ghg %}
                <td>{{data.scope_3_loc_agg}}</td>
                {% endfor %}
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <th>Total - location-based</th>

                {% for data in db.ghg %}
                <th>{{data.scope_123_loc}}</th>
                {% endfor %}
            </tr>
            <tr>
                <th>Total - market-based</th>

                {% for data in db.ghg %}
                <th>{{data.scope_123_mkt}}</th>
                {% endfor %}
            </tr>

        </tfoot>

    </table>
    <p style="text-align:left"><b>Note: </b>Emissions data come from publicly-available information, usually the annual
        sustainability reports. We also use CDP data with a 5% tolerance threshold.
    </p>

</div>

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th></th>
                {% for data in db.estimates %}
                <th width=25%>Y{{data.year}}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Total CO<sub>2</sub>e estimate (by Net0Tracker)</td>
                {% for data in db.estimates %}
                <td>{{data.value|floatformat:0}}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Methodology</td>
                {% for data in db.estimates %}
                <td>{{data.method_description}}</td>
                {% endfor %}
            </tr>
        </tbody>

    </table>
    <p style="text-align:left">Carbon emissions are estimated according to comparable years, intensity and sector
        benchmarks
    </p>

</div>