{% load static %}
<article class="post">
    <header>

        <div class="title">
            <h2>Greenhouse Gas Emissions</h2>
            <br>
        </div>
    </header>

    <section>
        <h3>Operational (scope 1-2) Emissions Data</h3>
        <div class="row">
            <div align="center" class="col-12 col-12-medium">
                <a href="" class="image featured"><img src="{% static selected_corp_ghg_bar_chart.img %}" alt="" /></a>
            </div>
        </div>

    </section>

    <br><br>

    <section>
        <h3>Value Chain (scope 3) Emissions by Category</h3>
        <div class="row">
            <div align="center" class="col-12 col-12-medium">

                {{ selected_corp_ghg_scope3_pie_chart.exist }}
                
                <a href="" class="image featured"><img src="{% static selected_corp_ghg_scope3_pie_chart.img %}"
                        alt="" /></a>
                

                <h4>Scope 3 Emissions not available</h4>


            </div>
        </div>
        <br><br>

    </section>

    <br><br>
    
    <section>
        <h3>Emissions Data Summary</h3>
        <div class="row">
            <div align="center" class="col-12 col-12-medium">
                {% include "django_project/corporates/content/ghg_datatable.html" %}
            </div>
        </div>
    </section>
    <br><br>

    <footer>
    </footer>

</article>