{% load static %}
<article class="post">
    <header>

        <div class="title">
            <h2>Greenhouse Gas Emissions</h2>
            <br>
        </div>
    </header>

    <section>
        <h3>Operational (scope 1-2) and Value Chain (scope 3) Emissions</h3>
        <div class="row">

            <div align="center" class="col-6 col-12-medium">
                {% if selected_corp_ghg_bar_chart.exist %}
                <a href="{{selected_corp_ghg_bar_chart.html}}" class="image featured"><img src="{% static selected_corp_ghg_bar_chart.img %}" alt="" /></a>
                <p style="text-align:left"><b>Note: </b>Actual (and target data if communicated) come from publicly-available information,
                    usually the annual
                    sustainability report. We also use CDP data with a 5% tolerance threshold (if data from CDP differs
                    by more than 5% with other public data, we exclude them). The rationale is that CDP data tends to be
                    more precise
                    (no rounding for example).
                    We select the type of scope 2 emissions (location-based or market-based) based on the scope of the
                    target (e.g. if the target covers scope 1 and scope 2 location-based emissions, reported actual
                    scope 2 emissions will be location-based). 
                    In case several targets exist, only the shorter-term target is displayed.
                </p><br>

                {% else %}
                <br>
                <h4>Emissions Data not available</h4>
                {% endif %}
            </div>

            <div align="center" class="col-6 col-12-medium">

                {% if selected_corp_ghg_scope3_pie_chart.exist %}

                <a href="{{selected_corp_ghg_scope3_pie_chart.html}}" class="image featured"><img src="{% static selected_corp_ghg_scope3_pie_chart.img %}"
                        alt="" /></a>


                {% else %}
                <br>
                <h4>Scope 3 Emissions not available</h4>
                {% endif %}

            </div>


        </div>
        {% comment %}


        {% if selected_corp_ghg_bar_chart.exist %}
        <p align="center"><a href="{{selected_corp_ghg_bar_chart.html}}">
                Click here for the interactive chart
            </a></p>
        {% endif %}
        {% endcomment %}

    </section>

    <br><br>
    {% comment %}
    <section>
        <h3>Value Chain (scope 3) Emissions by Category</h3>
        <div class="row">
            <div align="center" class="col-12 col-12-medium">

                {% if selected_corp_ghg_scope3_pie_chart.exist %}

                <a href="{{selected_corp_ghg_scope3_pie_chart.html}}" class="image featured"><img src="{% static selected_corp_ghg_scope3_pie_chart.img %}"
                        alt="" /></a>


                {% else %}
                <br>
                <h4>Scope 3 Emissions not available</h4>
                {% endif %}

            </div>
        </div>
        {% if selected_corp_ghg_scope3_pie_chart.exist %}
        <p align="center"><a href="{{selected_corp_ghg_scope3_pie_chart.html}}">
                Click here for the interactive chart
            </a></p>
        {% endif %}

        <br><br>

    </section>
    {% endcomment %}


    <br><br>

    <section>
        <h3>Last 3 Years Emissions Data Summary</h3>
        <div class="row">
            <div align="center" class="col-12 col-12-medium">
                {% include "django_project/corporates/content/ghg_datatable.html" %}
            </div>

        </div>
    </section>
    <br><br>

    <footer>
        {% include "django_project/core/data_quality.html" %}
        {% include "django_project/corporates/content/library_link.html" %}
    </footer>

</article>