<article class="post">
    <header>
        <div class="title">
            <h2>Key Figures</h2>
        </div>
    </header>
    <section>
    <div class="row">
        {% block score_summary %}
        {% endblock %}   
    </div>
    
        {% block ghg_emissions %}
        {% endblock %}

    <div class="row">
        {% block targets %}
        {% endblock %}
    </div>
</section>


    <footer>
        <ul class="stats">
            <li><a href="#">Methodology</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </footer>
    
</article>