{% load static %}
{% load humanize %}

<article class="post">
    <header>
        <div class="title">
            <h2>Library - To be released soon</h2>
        </div>
    </header>
    <section>
        <h3>Sustainability Reports</h3>
        <p>Work in progress</p>
        <h3>GreenHouse Gas Reporting</h3>
        <p>Work in progress</p>
        {% comment %}
        <p>Year 2020<a href="{% url 'download_file' filename=library_corp.ghg %}">
            <button type="button">Download</button>
        </a></p>
        {% endcomment %}

        <h3>Targets</h3>
        <p>Work in progress</p>
        <h3>Verification</h3>
        <p>Work in progress</p>
        <h3>CDP</h3>
        <p>Work in progress</p>




        <p>
        </p>

    </section>
    <br><br>
    <footer>
    </footer>

</article>