{% load static %}
{% load humanize %}

<article class="post">
    <header>
        <div class="title">
            <h2>Library - To be released soon</h2>
        </div>
    </header>
    <section>
        {% for key, value in library_corp.items%}
        <h3>{{key}}</h3>
        
        {% for data in value %}
        <p>{{data.desc}} <a href="{% url 'download_file' folder_name=data.folder_name file_name=data.filename %}">
            <button type="button">Download</button>
        </a></p>
        <i class="fa-solid fa-download"></i><p><a href="{% url 'download_file' folder_name=data.folder_name file_name=data.filename %}">
            {{data.desc}}
        </a></p>

        {% endfor %}
        
        {% endfor %}


    </section>
    <br><br>
    <footer>
    </footer>

</article>