{% load static %}                    
                    <!-- Post -->
                        <article id = "top" class="post">
                            <header>
                                <div class = "container" width = 100%>									
                                    {% include "django_project/corporates/content/corp_bullet.html" %}
                                </div>
                                 </header>
                            <blockquote>
                                “It is vital that businesses go net zero, as part of our fight against climate change. Which is why we look to all sectors to reach a point at which a clean way of operating becomes the norm. Because if every sector plays its part, we will see the global economy on the right path to achieving net zero by 2050.”
                                <strong>COP26 President Designate Alok Sharma</strong> 
                            </blockquote>

                            <ul class="actions">
                                <li><a href="#" class="button fit">More on the why</a></li>
                            </ul>
                        
                
                        </article>
                        <article class="post">
                            <header>
                                <div class="title">
                                    <h2>GHG Emissions Evolution and Comparison</h2>
                                    <br>
                                    </div>
                            </header>
                            <section>
                                

                   
