


{% load static %}                    
                    <!-- Post -->
                        <article id = "top" class="post">
                            <header>
                                <div class = "container" width = 100%>									
                                    <div class="row">
                                        <div>
                                            <img class = "container_img" src="{% static 'django_project/images/3m_banner.jpg' %}" alt="" width = 100%/>
                                            <img class = "overlay_img" src="{% static 'django_project/images/3m_logo.png' %}" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div align = "center" class = "col-12 col-12-medium">
                                            <strong><font size = 6 color = "green">Net Zero Rating: 4.4&nbsp;  </font></strong><div class="Stars" style="--rating: 4.4;" aria-label="Rating of this product is 4.4 out of 5."></div>
                                        </div>                                   
                                    </div>             
                                </div>
                                 </header>
                                 <div class="col-6 col-12-medium">
                                 {% include "django_project/corporates/content/corp_bullet.html" %}
                                </div>
                                <div class="col-6 col-12-medium">
                                    {% include "django_project/corporates/content/corp_bullet.html" %}
                                   </div>
   

                                </article>
                        <article class="post">
                            <header>
                                <div class="title">
                                    <h2>GHG Emissions Evolution and Comparison</h2>
                                    <br>
                                    </div>
                            </header>
                            <section>
                                

                   
