{% load static %}

{% comment %}
<a href="www.yahoo.fr" class="hover_img" title="" target="_blank">{{xls_corp.ghg.2017.scope1}}
    <div><img src="{% static 'django_project/images/logos/' %}logo_{{selected_corp.company_id}}.png" alt="" /></div>
</a>


<div class="col-4 col-12-medium">
    <h3>Transparency</h3>
    <p>GHG Emissions disclosed: YES <i class="fas fa-check fa-1x" style="color:rgb(23, 136, 70);"></i><br>
        Scope 3 disclosed: YES <i class="fas fa-check fa-1x" style="color:rgb(23, 136, 70);"></i><br>
        Full Scope 3 disclosed: NO <i class="fa fa-times fa-1x" style="color:rgb(182, 6, 6);"></i></p>
</div>
<div class="col-4 col-12-medium">
    <h3>Seriousness</h3>
    <p>Net Zero Targets: YES <i class="fas fa-check fa-1x" style="color:rgb(23, 136, 70);"></i><br>
        Temperature-equivalent: 2.8 degrees <i class="fas fa-check fa-1x" style="color:rgb(23, 136, 70);"></i><br>
        Science-Based Targets: NO <i class="fa fa-times fa-1x" style="color:rgb(182, 6, 6);"></i></p>
</div>
<div class="col-4 col-12-medium">
    <h3>Momentum</h3>
    <p>% reduction achieved<i class="fas fa-check fa-1x" style="color:rgb(23, 136, 70);"></i><br>
        On-pace: YES <i class="fas fa-check fa-1x" style="color:rgb(23, 136, 70);"></i><br>
        Supplier Engagement: NO <i class="fa fa-times fa-1x" style="color:rgb(182, 6, 6);"></i><br>
        Client Engagement: NO <i class="fa fa-times fa-1x" style="color:rgb(182, 6, 6);"></i></p>
</div>

{% endcomment %}

<article class="post">
    <header>
        <div class="title">
            <h2>Score Summary</h2>
        </div>
    </header>
    <section>
        <div class="container" width=100%>
            <table id="score_summary" class="score_summary" data-show-columns="true" width=100%>
                <thead>
                    <tr>
                        <th>Principle</th>
                        <th>Score</th>
                        <th>Max Score</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for score in xls_corp.corp_scores_summary %}
                    <tr>
                        <td>{{score.0}}</td>
                        <td>{{score.1}}</td>
                        <td>10 pts</td>
                        <td>no comment</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td>{{}}</td>
                        <td>100 pts</td>
                        <td>xls_corp.score_data.score</td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </section>

    <footer>
        <ul class="stats">
            <li><a href="#">Methodology</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </footer>

</article>


<script>
    $(document).ready(function () {
        $('#score_summary').DataTable(
            {
                "searching": false,   // Disabling search
                "ordering": false,    // Disabling ordering
                "paging":false,       // Disabling paging
                "info": false,         // Disabling info about number of entries
                "lengthChange": false, // Disable record number per page
                responsive: true,
                columnDefs: [
                    {targets: 0, responsivePriority: 1},
                    {
                        targets: 1,
                        responsivePriority: 2,
                    },
                    {
                        targets: 2,
                        responsivePriority: 3,
                        render: $.fn.dataTable.render.number(',', '.', 1, '', ' pts')
                     }
                ],
            }
        );
    });
</script>