{% load static %}

<article class="post">
    <header>
        <div class="title">
            <h2>Score Summary</h2>
        </div>
    </header>
    <section id="score_summary_section">
        <div class="container" width=100%>
            <table id="score_summary" class="score_summary" data-show-columns="true" width=100%>

                <thead>
                    <tr>
                        <th>Ref</th>
                        <th>Principle</th>
                        <th>Score</th>
                        <th>Max Score</th>
                        <th>Comments</th>
                    </tr>
                </thead>

                <tbody>
                    {% for score in xls_corp.corp_scores_summary.transparency.details %}
                    <tr>
                        <td>{{score.ref}}</td>
                        <td>{{score.desc}}</td>
                        <td>{{score.score}}</td>
                        <td>{{score.max_score}}</td>
                        <td>{{score.comments}}</td>
                    </tr>
                    {% endfor %}

                    <tr style="background-color:#2ebaae; color:white; font-weight:bold">
                        <td></td>
                        <td>Total Transparency</td>
                        <td>{{xls_corp.corp_scores_summary.transparency.total.score}}</td>
                        <td>30</td>
                        <td></td>
                    </tr>

                    {% for score in xls_corp.corp_scores_summary.commitments.details %}
                    <tr>
                        <td>{{score.ref}}</td>
                        <td>{{score.desc}}</td>
                        <td>{{score.score}}</td>
                        <td>{{score.max_score}}</td>
                        <td>{{score.comments}}</td>
                    </tr>
                    {% endfor %}

                    <tr style="background-color:#2ebaae; color:white; font-weight:bold">
                        <td></td>
                        <td>Total Commitments</td>
                        <td>{{xls_corp.corp_scores_summary.commitments.total.score}}</td>
                        <td>40</td>
                        <td></td>
                    </tr>

                    {% for score in xls_corp.corp_scores_summary.actions.details %}
                    <tr>
                        <td>{{score.ref}}</td>
                        <td>{{score.desc}}</td>
                        <td>{{score.score}}</td>
                        <td>{{score.max_score}}</td>
                        <td>{{score.comments}}</td>
                    </tr>
                    {% endfor %}

                    <tr style="background-color:#2ebaae; color:white; font-weight:bold">
                        <td></td>
                        <td>Total Results</td>
                        <td>{{xls_corp.corp_scores_summary.actions.total.score}}</td>
                        <td>30</td>
                        <td></td>
                    </tr>

                </tbody>

                <tfoot>
                    <tr>

                        <td></td>
                        <td><strong>TOTAL</strong></td>
                        <td><strong>{{xls_corp.score_data.score}} pts</strong></td>
                        <td><strong>100.0 pts</strong></td>
                        <td></td>
                        </strong>
                    </tr>
                </tfoot>
            </table>

        </div>

    </section>
    <br><br>
    <footer>
        
        {% include "django_project/core/data_quality.html" %}
        <br>
        <ul class="stats">
            <li><a href="{% url 'faq' %}#methodology">Methodology</a></li>
            <li><a href="{% url 'faq' %}#faq">FAQ</a></li>
        </ul>
    </footer>

</article>

<script>
    $(document).ready(function () {
        $('#score_summary').DataTable(
            {
                "searching": false,   // Disabling search
                "ordering": false,    // Disabling ordering
                "paging": false,       // Disabling paging
                "info": false,         // Disabling info about number of entries
                "lengthChange": false, // Disable record number per page
                responsive: true,
                columnDefs: [
                    { targets: 0, responsivePriority: 1 },
                    {
                        targets: 2,
                        responsivePriority: 2,
                        render: $.fn.dataTable.render.number(',', '.', 1, '', ' pts')

                    },
                    {
                        targets: 3,
                        responsivePriority: 3,
                        render: $.fn.dataTable.render.number(',', '.', 1, '', ' pts')
                    },
                    {
                        targets:4,
                        visible: false,
                    }
                ],
            }
        );
    });
</script>