{% load static %}
{% load humanize %}

<article class="post">
    <header>
        <div class="title">
            <h2>Score Details</h2>
        </div>
    </header>
    <section>

        <table>
            <thead>
                <tr>
                    <th><b>Criteria</b></th>
                    <th><b>Results</b></th>
                    <th><b>Score</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Criteria 1 : Transparency on operational emissions (Scope 1 + 2)</b>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>Are S1+S2 figures publicly-disclosed for the last reporting year and the preceding
                        period?
                    </td>
                    <td>{{db.corp_scores_details.Score_1_1.rating|default_if_none:"NC"}} </td>
                    <td> {{db.corp_scores_details.Score_1_1.value|floatformat|floatformat:1}} /
                        {{db.corp_scores_details.Score_1_1.max|floatformat:1}}</td>
                </tr>
                <tr>
                    <td>Are S1+S2 figures verified by a 3rd-party for the last reporting year?
                    </td>
                    <td>{{db.corp_scores_details.Score_1_2.rating|default_if_none:"NC"}}</td>
                    <td> {{db.corp_scores_details.Score_1_2.value|floatformat|floatformat:1}}/
                        {{db.corp_scores_details.Score_1_2.max|floatformat:1}}</td>

                </tr>
                <tr>
                    <td><b>Criteria 2 : Transparency on value chain emissions (Scope 3)</b>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Are the 15 categories fully or partly disclosed?
                    </td>
                    <td>{{db.corp_scores_details.Score_2_1.rating|default_if_none:"NC"}}</td>
                    <td> {{db.corp_scores_details.Score_2_1.value|floatformat:1}} /
                        {{db.corp_scores_details.Score_2_1.max|floatformat:1}}</td>

                </tr>
                <tr>
                    <td>Are S3 figures fully or partly verified by a 3rd-party for the last reporting year?
                    </td>
                    <td> {{db.corp_scores_details.Score_2_2.rating|default_if_none:"NC"}}</td>
                    <td> {{db.corp_scores_details.Score_2_2.value|floatformat:1}} /
                        {{db.corp_scores_details.Score_2_2.max|floatformat:1}}</td>

                </tr>
                <tr>
                    <td><b>Criteria 3 : Quality and Frequency of reporting</b>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>What is the latest CDP score (no later than the preceding year)?
                    </td>
                    <td>
                        {{db.corp_scores_details.Score_3_1.rating|upper}}</td>
                    <td> {{db.corp_scores_details.Score_3_1.value|floatformat:1}} /
                        {{db.corp_scores_details.Score_3_1.max|floatformat:1}}</td>

                </tr>
                <tr>
                    <td> How many interim reporting were provided between 2 reporting periods (GHG emissions
                        only)?
                    </td>
                    <td></td>
                    <td> {{db.corp_scores_details.Score_3_2.value|floatformat:1}}</td>
                </tr>

                <tr>
                    <td><b>Criteria 4 : Net Zero Commitments</b>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>Does the net 0 target include a statement of a generally-accepted net zero emission
                        target
                        by 2050?
                    </td>
                    <td> {{db.corp_scores_details.Score_4_1.rating|default_if_none:"NC"}}</td>
                    <td> {{db.corp_scores_details.Score_4_1.value|floatformat:1}} /
                        {{db.corp_scores_details.Score_4_1.max|floatformat:1}}</td>

                </tr>
                <tr>
                    <td>Does the net zero target include an intermediate target by 2030?
                    </td>
                    <td> {{db.corp_scores_details.Score_4_2.rating|default_if_none:"NC"}}</td>
                    <td> {{db.corp_scores_details.Score_4_2.value|floatformat:1}} /
                        {{db.corp_scores_details.Score_4_2.max|floatformat:1}}</td>

                </tr>

                <tr>
                    <td>Does the net zero target include all the emissions?
                    </td>
                    <td> {{db.corp_scores_details.Score_4_3.rating|default_if_none:"NC"}}</td>
                    <td> {{db.corp_scores_details.Score_4_3.value|floatformat:1}} /
                        {{db.corp_scores_details.Score_4_3.max|floatformat:1}}</td>

                </tr>
                <tr>
                    <td><b>Criteria 5 : Target year for Net Zero Commitments</b>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>Target year for achieving net zero emissions for S1+S2?
                    </td>
                    <td>
                        {{db.corp_scores_details.Score_5_1.rating|default_if_none:"NC"}}</td>
                    <td> {{db.corp_scores_details.Score_5_1.value|floatformat:1}} /
                        {{db.corp_scores_details.Score_5_1.max|floatformat:1}}</td>

                </tr>
                <tr>
                    <td>Target year for achieving net zero emissions for S1+S2+S3 combined?
                    </td>
                    <td>
                        {{db.corp_scores_details.Score_5_2.rating|default_if_none:"NC"}}</td>
                    <td> {{db.corp_scores_details.Score_5_2.value|floatformat:1}} /
                        {{db.corp_scores_details.Score_5_2.max|floatformat:1}}</td>

                </tr>

                <tr>
                    <td><b>Criteria 6 : Reduction objectives</b>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>What is the forward-looking GHG% reduction (without compensation) for scope 1+2?
                    </td>
                    <td>
                        {{db.corp_scores_details.Score_6_1.rating|floatformat:1|default_if_none:"NC"}}


                    </td>
                    <td>{{db.corp_scores_details.Score_6_1.value|floatformat:1}} /
                        {{db.corp_scores_details.Score_6_1.max|floatformat:1}}</td>

                </tr>
                <tr>
                    <td>What is the forward-looking GHG% reduction (without compensation) for scope 1+2+3?
                    </td>
                    <td>
                        {{db.corp_scores_details.Score_6_2.rating|floatformat:1|default_if_none:"NC"}}
                    </td>
                    <td>{{db.corp_scores_details.Score_6_2.value|floatformat:1}} /
                        {{db.corp_scores_details.Score_6_2.max|floatformat:1}}</td>

                </tr>
                <tr>
                    <td><b>Criteria 7 : Science-Based Targets</b>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>What type of science-based target (as validated by SBTi) did the company commit to?
                    </td>
                    <td> {{db.corp_scores_details.Score_7_1.rating|default_if_none:"NC"}}</td>
                    <td> {{db.corp_scores_details.Score_7_1.value|floatformat:1}} /
                        {{db.corp_scores_details.Score_7_1.max|floatformat:1}}</td>

                </tr>
                <tr>
                    <td><b>Criteria 8 : Results based on scope 1 - 2</b>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Performance to date: cumulative% reduction vs. target
                    </td>
                    <td>Objective (in %):
                        {{db.corp_scores_details.Score_8_1.meta.ytd_reduction_objectives|floatformat:1|default_if_none:"NC"}}
                        <br>
                        Actual (in %):
                        {{db.corp_scores_details.Score_8_1.meta.ytd_reduction_actual|floatformat:1|default_if_none:"NC"}}


                    </td>
                    <td> {{db.corp_scores_details.Score_8_1.value|floatformat:1}} /
                        {{db.corp_scores_details.Score_8_1.max|floatformat:1}}</td>

                </tr>
                <tr>
                    <td>Momentum: last year % reduction vs. forward-looking target
                    </td>
                    <td>Objective (in %):
                        {{db.corp_scores_details.Score_8_2.meta.forward_looking_reduction|floatformat:1|default_if_none:"NC"}}

                        <br>
                        Actual (in %):
                        {{db.corp_scores_details.Score_8_2.meta.last_year_reduction|floatformat:1|default_if_none:"NC"}}


                    </td>
                    <td> {{db.corp_scores_details.Score_8_2.value|floatformat:1}} /
                        {{db.corp_scores_details.Score_8_2.max|floatformat:1}}</td>

                </tr>
                <tr>
                    <td><b>Criteria 9 : Results based on scope 1 - 2 - 3</b>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Performance to date: cumulative% reduction vs. target
                    </td>
                    <td>Objective (in %):
                        {{db.corp_scores_details.Score_9_1.meta.ytd_reduction_objectives|floatformat:1|default_if_none:"NC"}}


                        <br>
                        Actual (in %):
                        {{db.corp_scores_details.Score_9_1.meta.ytd_reduction_actual|floatformat:1|default_if_none:"NC"}}


                    </td>
                    <td> {{db.corp_scores_details.Score_9_1.value|floatformat:1}} /
                        {{db.corp_scores_details.Score_9_1.max|floatformat:1}}</td>

                </tr>
                <tr>
                    <td>Momentum: last year % reduction vs. forward-looking target
                    </td>
                    <td>Objective (in %):
                        {{db.corp_scores_details.Score_9_2.meta.forward_looking_reduction|floatformat:1|default_if_none:"NC"}}


                        <br>
                        Actual (in %):
                        {{db.corp_scores_details.Score_9_2.meta.last_year_reduction|floatformat:1|default_if_none:"NC"}}



                    </td>
                    <td> {{db.corp_scores_details.Score_9_2.value|floatformat:1}} /
                        {{db.corp_scores_details.Score_9_2.max|floatformat:1}}</td>

                </tr>
                <tr>
                    <td><b>Criteria 10 : <a
                                href="https://www.msci.com/our-solutions/climate-investing/net-zero-solutions/implied-temperature-rise"
                                target="_blank" rel="noopener noreferrer">Implied Temperature Rise (ITR)</a></b>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Is the company aligned with global climate targets?</td>
                    <td>ITR: {{db.corp_scores_details.Score_10_1.rating}}°C</td>
                    <td> {{db.corp_scores_details.Score_10_1.value|floatformat:1}} /
                        {{db.corp_scores_details.Score_10_1.max}}</td>

                </tr>
            </tbody>
        </table>


    </section>
    <br><br>
    <footer>
        <ul class="stats">
            <li><a href="{% url 'faq' %}#methodology">Methodology</a></li>
            <li><a href="{% url 'faq' %}#faq">FAQ</a></li>
        </ul>
    </footer>

</article>