{% load static %}

<article class="post">
    <header>
        <div class="title">
            <h2>Score Details - WORK-IN-PROGRESS</h2>
        </div>
    </header>
    <section>
        <table>
            <thead>
                <tr>
                    <th><b>Criteria / Tests</b></th>
                    <th><b>Points</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Criteria 1 : Transparency on operational emissions (Scope 1 + 2)</b>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td>Are S1+S2 figures publicly-disclosed for the last reporting year and the preceding
                        period?
                    </td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Are S1+S2 figures verified by a 3rd-party for the last reporting year?
                    </td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td><b>Criteria 2 : Transparency on value chain emissions (Scope 3)</b>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Are the 15 categories disclosed? Total scope 3 can be aggregated or details are provided
                        in
                        the CDP report (link to the questionnaire to be provided. Link to CDP website is not
                        enough)
                    </td>
                    <td>partly</td>
                </tr>
                <tr>
                    <td>Are S3 figures verified by a 3rd-party for the last reporting year?
                    </td>
                    <td>partly</td>
                </tr>
                <tr>
                    <td><b>Criteria 3 : Quality and Frequency of reporting</b>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>What is the latest CDP score (no later than the preceding year)?
                    </td>
                    <td>B-</td>
                </tr>
                <tr>
                    <td> How many interim reporting were provided between 2 reporting periods (GHG emissions
                        only)?
                    </td>
                    <td>0</td>
                </tr>

                <tr>
                    <td><b>Criteria 4 : Net Zero Commitments</b>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td>Does the net 0 target include a statement of a generally-accepted net zero emission
                        target
                        by 2050?
                    </td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Does the net zero target include an intermediate target by 2030?
                    </td>
                    <td>Yes</td>
                </tr>

                <tr>
                    <td>Does the net zero target include all the emissions?
                    </td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td><b>Criteria 5 : Target year for Net Zero Commitments</b>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td>Target year for achieving net zero emissions for S1+S2?
                    </td>
                    <td>2025</td>
                </tr>
                <tr>
                    <td>Target year for achieving net zero emissions for S1+S2+S3 combined?
                    </td>
                    <td>2050</td>
                </tr>

                <tr>
                    <td><b>Criteria 6 : Reduction objectives</b>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td>What is the forward-looking GHG% reduction (without compensation) for scope 1+2?
                    </td>
                    <td>3.2%</td>
                </tr>
                <tr>
                    <td>What is the forward-looking GHG% reduction (without compensation) for scope 1+2+3?
                    </td>
                    <td>2.8%</td>
                </tr>
                <tr>
                    <td><b>Criteria 7 : Science-Based Targets</b>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td>What type of science-based target (as validated by SBTi) did the company commit to?
                    </td>
                    <td>Targets Set_1.5°C</td>
                </tr>
                <tr>
                    <td><b>Criteria 8 : Results based on scope 1 - 2</b>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Performance to date: cumulative% reduction in line with target for Scope 1 - 2?
                    </td>
                    <td>2.5% - not in line</td>
                </tr>
                <tr>
                    <td>Momentum: last year % reduction in line with forward-looking target for Scope 1 - 2?
                    </td>
                    <td>2.4% - in line</td>
                </tr>
                <tr>
                    <td><b>Criteria 9 : Results based on scope 1 - 2 - 3</b>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Performance to date: cumulative% reduction in line with target for Scope 1 - 2 - 3?
                    </td>
                    <td>in line</td>
                </tr>
                <tr>
                    <td>Momentum: last year % reduction in line with forward-looking target for Scope 1 - 2 - 3?
                    </td>
                    <td>in line</td>
                </tr>
                <tr>
                    <td><b>Criteria 10 : <a
                                href="https://www.msci.com/our-solutions/climate-investing/net-zero-solutions/implied-temperature-rise"
                                target="_blank" rel="noopener noreferrer">Implied Temperature Rise (ITR)</a></b>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Is the company aligned with global climate targets?</td>
                    <td>1.8°C</td>
                </tr>
            </tbody>
        </table>

        
    </section>
    <br><br>
    <footer>
        <ul class="stats">
            <li><a href="{% url 'faq' %}#methodology">Methodology</a></li>
            <li><a href="{% url 'faq' %}#faq">FAQ</a></li>
        </ul>
    </footer>

</article>
