{% load static %}                    
<!-- Post -->
<article id = "top" class="post">
    <header>
        <div class = "container" width = 100%>									
            <div class="row">
                <div class="title">
                    <h2><font face = "sans-serif" size = "6">Net Zero Tracker</font><font face = "sans-serif" size = "3">    [under development]</font></h2>
                    <p>Have an impact by working for a company that takes climate change seriously</p>
                </div>
            </div>
        </div>
        
        </header>
        {% include "django_project/home/content/search.html" %}
        <footer>
        </footer>


</article>