{% load static %}                    
<!-- Post -->
<article id = "top" class="post">
    <header>
        <div class = "container" width = 100%>									
            <div class="row">
                <div class="title">
                    <h2><font face = "sans-serif" size = "6">Net Zero Tracker</font><font face = "sans-serif" size = "3">    [under development]</font></h2>
                    <p>Have an impact by working for a company that takes climate change seriously</p>
                </div>
            </div>
        </div>
        
        </header>
            <form class="search-corp" method="GET">
                <input class="search-corp" id = "tags" type="text" name="query" placeholder="Search for a company name" />
                <div><p style="color:red;">{{error_msg}}</p></div>
                <script>
                    $( function() {
                    var availableTags = [
                        {% for corp in corporates_names %}
                            "{{corp.name}}",
                        {% endfor %}
                    ];  
                    $("#tags").autocomplete({
                        source: availableTags
                    });
                    } );
                    </script>
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Search>>" /></li>
                    </ul>
                </div>
                {{random_logos}}

            </form>
            <div class="row gtr-uniform">
                <div align = "center" class="col-4"><a href="{% url 'corporates_home'%}3M" title = "3M"><img src="{% static 'django_project/images/logos/3m_logo.png' %}" alt="3M"/></a></div>
                <div align = "center" class="col-4"><a href="{% url 'corporates_home'%}Apple" title = "Apple"><img src="{% static 'django_project/images/logos/apple_logo.png' %}" alt="Apple" /></a></div>
                <div align = "center" class="col-4"><a href="{% url 'corporates_home'%}Microsoft" title = "Microsoft"><img src="{% static 'django_project/images/logos/microsoft_logo.png' %}" alt="Microsoft"/></a></div>
                <div align = "center" class="col-6"><a href="{% url 'corporates_home'%}Accenture" title = "Accenture"><img src="{% static 'django_project/images/logos/accenture_logo.png' %}" alt="Acenture"/></a></div>
                <div align = "center" class="col-6"><a href="{% url 'corporates_home'%}Home Depot" title = "Home Depot"><img src="{% static 'django_project/images/logos/homedepot_logo.png' %}" alt="Home Depot"/></a></div>
            </div>
        <footer>
        </footer>


</article>