<article class="post">
    <header>
        <div class="title">
            <h2>Reduction and Net Zero Targets</h2>
            <p><i>>Note: intensity targets are not represented in the current version - see Methodology</i></p>
        </div>
    </header>
    <section>

        <div class="container" width=100%>
            {{{xls_corp}}

            <h3>Gross Absolute Emission Reductions</h3>
            <table id="gross_target" class="gross_target" data-show-columns="true" width=100%>
                <thead>
                    <tr>
                        <th>Scope</th>
                        <th>Reduction Objectives</th>
                        <th>Base Year</th>
                        <th>Target Year</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in xls_corp.targets.gross_abs %}
                    <tr>
                        <td>{{i.scope}}</td>
                        <td>{% widthratio i.reduction_obj 1 100 %}</td>
                        <td>{{i.base_year}}</td>
                        <td>{{i.target_year}}</td>
                        <td>
                            {% if i.cov_s3 == 'partly' %}
                            Scope 3 emissions are not fully covered
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <br><br>
    <hr />

    <section>

        <div class="container" width=100%>

            <h3>Net Absolute Emission Reductions</h3>
            <table id="net_target" class="net_target" data-show-columns="true" width=100%>
                <thead>
                    <tr>
                        <th>Scope</th>
                        <th>Reduction Objectives</th>
                        <th>Base Year</th>
                        <th>Target Year</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in xls_corp.targets.net_abs %}
                    <tr>
                        <td>{{i.scope}}</td>
                        <td>{% widthratio i.reduction_obj 1 100 %}</td>
                        <td>{{i.base_year}}</td>
                        <td>{{i.target_year}}</td>
                        <td> {% if i.cov_s3 == 'partly' %}
                            Scope 3 emissions are not fully covered
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </section>

    <br><br>
    <section>


        {% if xls_corp.targets.net_zero_policy.0 %}
        <div class="container" width=100%>

            <h3>Net Zero Policy</h3>

            The company has a net zero policy or practice, i.e. balances its emissions with carbon offsets, on
            {{xls_corp.targets.net_zero_policy.0.scope}} scope emissions.
            {% endif %}
            {% if xls_corp.targets.net_zero_policy.0.cov_s3 == 'partly' %}
            Scope 3 emissions are not fully covered.
            {% elif xls_corp.targets.net_zero_policy.0.cov_s3 == 'full' %}
            Emissions cover all the (relevant) scope 3 categories
            {% endif %}
            <br><br>
    </section>

    <footer>
    </footer>

</article>

<script>
    $(document).ready(function () {
        $('#gross_target').DataTable(
            {
                "searching": false,   // Disabling search
                "ordering": false,    // Disabling ordering
                "paging": false,       // Disabling paging
                "info": false,         // Disabling info about number of entries
                "lengthChange": false, // Disable record number per page
                responsive: true,
                columnDefs: [
                    { targets: 0, responsivePriority: 1 },
                    {
                        targets: 1,
                        responsivePriority: 2,
                        render: $.fn.dataTable.render.number(',', '.', 0, '', '%'),
                    },
                ],
            }
        );
    });
</script>

<script>
    $(document).ready(function () {
        $('#net_target').DataTable(
            {
                "searching": false,   // Disabling search
                "ordering": false,    // Disabling ordering
                "paging": false,       // Disabling paging
                "info": false,         // Disabling info about number of entries
                "lengthChange": false, // Disable record number per page
                responsive: true,
                columnDefs: [
                    { targets: 0, responsivePriority: 1 },
                    {
                        targets: 1,
                        render: $.fn.dataTable.render.number(',', '.', 0, '', '%'),
                        responsivePriority: 2,
                    },
                ],
            }
        );
    });
</script>