<article class="post">
    <header>
        <div class="container" width=100%>
            <div class="title">
                <h2>
                    <font face="sans-serif" size="6">Welcome to the Input Interface, {{user}}</font>
                </h2>
            </div>
        </div>
    </header>

    <section>

        <h2>Authorized Companies ({{data|length}}):</h2>
        <!-- action="{% url 'input_home' %}" -->
        <form class="search-corp" method="GET">

            <input class="search-corp" id="tags" type="text" name="corp" placeholder="Search for a company name" />
            <div>{{error_msg}}</div>
            <script>
                $(function () {
                    var availableTags = [
                        {% for corp in data %}
                        "{{corp|safe}}",
                    {% endfor %}
                ];
                $("#tags").autocomplete({
                    source: availableTags
                });
                });
            </script>
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Search>>" /></li>
                </ul>
            </div>

        </form>

        <h2>Input Status</h2>
        <table id="input_home_table" class="lb_corporates" data-show-columns="true" data-page-length='100'>
            <thead>
                <th>Companies</th>
                <th>General</th>
                <th>Disclosures</th>
                <th>Net Zero Claims</th>
                <th>GHG Inventory</th>
                <th>GHG Value</th>
                <th>Targets</th>
                <th>CDP</th>
            </thead>
            <tbody>
                {% for corp, input in input_status.items %}
                <tr>
                    <td><a href="{% url 'input_by_corp_general' corp_name=corp%}">{{corp}}</a></td>
                    <td>{{input.general}}</td>
                    <td>{{input.disclosures}}</td>
                    <td>{{input.net0}}</td>
                    <td>{{input.ghg}}</td>
                    <td>{{input.ghg_value}}</td>
                    <td>{{input.targets}}</td>
                    <td>{{input.cdp}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>



    </section>

</article>
<script>
    $(document).ready(function () {
        $('#input_home_table').DataTable({
            responsive: true,
            order: [[0, 'asc']]
        });
    });
</script>