{% extends 'django_project/core/layout.html' %}
{% block content %}

<article id = "top" class="post">

    <header>

        <div width = 100%>									
            <div class="title">
                Interactive Chart Visualization
            </div>
        </div>
    </header>

    <div class = "container" width = 100%>    
        <section>
            <div class="row">
                <div col-12>
                {% include path %}
                </div>
            </div>     
        </section>

    </div>

    <footer>
    </footer>

</article>
{% endblock %}