{% extends 'django_project/core/layout.html' %}
{% block content %}
{% load static %}

<article id="top" class="post">

    <header>

        <div class="container" width=100%>
            <div class="title">
                <div>
                    <h1> Interactive Chart Visualization
                </div>
            </div>
        </div>

    </header>

    <section>

        <div class="row">
            <div align="center" class="col-12 col-12-medium">
                {% include path %}
            </div>
        </div>
    </section>
    <footer>

    </footer>

</article>

    {% endblock %}