
				<!-- Main -->
                <div id="main">

                    <!-- Post -->
                        <article id = "top" class="post">
                            <header>
                                <div class = "container" width = 100%>									
                                    <div class="row">
                                        <div>
                                            <img class = "container_img" src="/static/django_project/images/3m_banner.jpg" alt="" width = 100%/>
                                            <img class = "overlay_img" src="/static/django_project/images/3m_logo.png" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div align = "center" class = "col-12 col-12-medium">
                                            <strong><font size = 6 color = "green">Net Zero Rating: 4.4&nbsp;  </font></strong><div class="Stars" style="--rating: 4.4;" aria-label="Rating of this product is 4.4 out of 5."></div>
                                        </div>
                                        <style>
                                            @keyframes fill1 {
                                                0% {
                                                transform: rotate(0deg);
                                                }
                                                100% {
                                                transform: rotate({{angle1}});
                                                }
                                            }
                                            </style>
                        
                                            <div align = "center" class="col-4 col-12-medium">
                                                <div class="circle-wrap circle-wrap1">						
                                                    <div class="circle circle1">					
                                                    <div class="mask full mask1 full1" style = "transform:rotate({{angle1}})">
                                                        <div class="fill fill1" style = "background-color:#b1002c;transform:rotate({{angle1}})"></div>
                                                    </div>							
                                                    <div class="mask half mask1 half1">
                                                        <div class="fill fill1" style = "background-color:#b1002c;transform:rotate({{angle1}})"></div>
                                                    </div>							
                                                    <div class="inside-circle inside-circle1">
                                                        <a href="transparency.html">{{value1}}%</a>
                                                    </div>							
                                                    </div>
                                                </div>
                                                <h3>Transparency</h3>
                                                <p>% companies <strong>publicly disclosing</strong> their full carbon footprint</p>
                                            </div>

                                            <style>

                                                @keyframes fill2 {
                                                    0% {
                                                    transform: rotate(0deg);
                                                    }
                                                    100% {
                                                    transform: rotate({{angle2}});
                                                    }
                                                }
                                            </style>
                        
                                            <div align = "center" class="col-4 col-12-medium">
                                                <div class="circle-wrap circle-wrap2">						
                                                    <div class="circle circle2">					
                                                    <div class="mask full mask2 full2" style = "transform:rotate({{angle2}})">
                                                        <div class="fill fill2" style = "background-color:#9fb100;transform:rotate({{angle2}})"></div>
                                                    </div>							
                                                    <div class="mask half mask2 half2">
                                                        <div class="fill fill2" style = "background-color:#9fb100;transform:rotate({{angle2}})"></div>
                                                    </div>							
                                                    <div class="inside-circle inside-circle2">
                                                        <a href="performance.html">{{value2}}%</a>
                                                    </div>							
                                                    </div>
                                                </div>
                                                <h3>Seriousness</h3>
                                                <p>% companies with <strong>high-quality</strong> net zero targets</p>
                                            </div>
                                            <style>
                                                @keyframes fill3 {
                                                    0% {
                                                    transform: rotate(0deg);
                                                    }
                                                    100% {
                                                    transform: rotate({{angle3}});
                                                    }
                                                }
                                                </style>
        
                                                <div align = "center" class="col-4 col-12-medium">
                                                    <div class="circle-wrap circle-wrap3">						
                                                        <div class="circle circle3">					
                                                        <div class="mask full mask3 full3" style = "transform:rotate({{angle3}})">
                                                            <div class="fill fill3" style = "background-color:#2000b1;transform:rotate({{angle3}})"></div>
                                                        </div>							
                                                        <div class="mask half mask3 half3">
                                                            <div class="fill fill3" style = "background-color:#2000b1;transform:rotate({{angle3}})"></div>
                                                        </div>							
                                                        <div class="inside-circle inside-circle3">
                                                            <a href="ambition.html">{{value3}}%</a>
                                                        </div>							
                                                        </div>
                                                    </div>
                                                    <h3>Momentum</h3>
                                                    <p>% companies that are <strong>on pace</strong> to deliver on their commitments</p>
                                                </div>
                                    </div>
                                </div>
                                 </header>
                            <blockquote>
                                “It is vital that businesses go net zero, as part of our fight against climate change. Which is why we look to all sectors to reach a point at which a clean way of operating becomes the norm. Because if every sector plays its part, we will see the global economy on the right path to achieving net zero by 2050.”
                                <strong>COP26 President Designate Alok Sharma</strong> 
                            </blockquote>

                            <ul class="actions">
                                <li><a href="#" class="button fit">More on the why</a></li>
                            </ul>
                        
                
                        </article>
                        <article class="post">
                            <header>
                                <div class="title">
                                    <h2>GHG Emissions Evolution and Comparison</h2>
                                    <br>
                                    </div>
                            </header>
                            <section>
                                {% plotly_app name='3m_performance_dashboard' ratio=1 %}
                            </section>
                            <footer>
                                <ul class="actions">
                                    <li><a href="#" class="button large">Leaderboard</a></li>
                                </ul>
                                <ul class="stats">
                                    <li><a href="#">Methodology</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#" class="icon solid fa-heart">514</a></li>
                                </ul>
                            </footer>
                        </article>

                    <!-- Post -->
                        <article class="post">
                            <header>
                                <div class="title">
                                    <h2>Key Figures</h2>
                                </div>
                            </header>
                            <section>
                            <div class="row">
                            <div class = "col-4 col-12-medium">
                                <h3>Transparency</h3>
                                <p>GHG Emissions disclosed: YES <i class="fas fa-check fa-1x" style="color:rgb(23, 136, 70);"></i><br>
                                Scope 3 disclosed: YES <i class="fas fa-check fa-1x" style="color:rgb(23, 136, 70);"></i><br>
                                Full Scope 3 disclosed: NO <i class="fa fa-times fa-1x" style="color:rgb(182, 6, 6);"></i></p>
                            </div>
                            <div class = "col-4 col-12-medium">
                                <h3>Seriousness</h3>
                                <p>Net Zero Targets: YES <i class="fas fa-check fa-1x" style="color:rgb(23, 136, 70);"></i><br>
                                Temperature-equivalent: 2.8 degrees <i class="fas fa-check fa-1x" style="color:rgb(23, 136, 70);"></i><br>
                                Science-Based Targets: NO <i class="fa fa-times fa-1x" style="color:rgb(182, 6, 6);"></i></p>
                            </div>
                            <div class = "col-4 col-12-medium">
                                <h3>Momentum</h3>
                                <p>% reduction achieved<i class="fas fa-check fa-1x" style="color:rgb(23, 136, 70);"></i><br>
                                On-pace: YES <i class="fas fa-check fa-1x" style="color:rgb(23, 136, 70);"></i><br>
                                Supplier Engagement: NO <i class="fa fa-times fa-1x" style="color:rgb(182, 6, 6);"></i><br>
                                Client Engagement: NO <i class="fa fa-times fa-1x" style="color:rgb(182, 6, 6);"></i></p>
                            </div>
                            </div>
                            <div class="row">
                                <div class = "col-12 col-12-medium">
                                    <h3>Greenhouse Gas Emissions</h3>
                                </div>
                            
                                <div class="table-wrapper">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>2017</th>
                                                <th>2018</th>
                                                <th>2019</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Direct (Scope 1)</td>
                                                <td>3,960,000</td>
                                                <td>4,790,000</td>
                                                <td>4,050,000</td>
                                            </tr>
                                            <tr>
                                                <td>Direct (Scope 2)</td>
                                                <td>1,650,000</td>
                                                <td>1,480,000</td>
                                                <td>1,320,000</td>

                                            </tr>
                                            <tr>
                                                <td>Indirect (Scope 3)</td>
                                                <td>9,280,000</td>
                                                <td>9,530,000</td>
                                                <td>8,920,000</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Total Emissions</strong></td>
                                                <td><strong>14,890,000</strong></td>
                                                <td><strong>15,800,000</strong></td>
                                                <td><strong>14,290,000</strong></td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class = "col-12 col-12-medium">
                                    <h3>Net Zero Targets</h3>
                                </div>
                                <div class="table-wrapper">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Period</th>
                                                <th>Coverage</th>
                                                <th>% already achieved</th>
                                                <th>Public Commitments</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>16 Feb 2021</td>
                                                <td>2020-2050</td>
                                                <td>Scope 1, Scope 2</td>
                                                <td>NEW</td>
                                                <td>By applying science and technological expertise, 3M expects to further reduce carbon emissions, aiming for a 50% reduction by 2030, an 80% reduction by 2040, and 100% carbon neutrality in its operations by 2050.</td>
                                            </tr>
                                            <tr>
                                                <td>2015</td>
                                                <td>2015 - 2025</td>
                                                <td>Scope 1, Scope 2</td>
                                                <td>136%</td>
                                                <td>Ensure GHG emissions are at least 50% below our 2002 baseline by 2025, while growing our business. Help our customers reduce their GHGs by 250 million tonnes of CO₂ equivalent emissions through the use of 3M products.</td>
                                            </tr>              
                                        </tbody>              
                                    </table>
                                </div>
                                </div>


                        </section>

                            <footer>
                                <ul class="stats">
                                    <li><a href="#">Methodology</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </footer>
                        </article>

                   
