
				<!-- Main -->
                <div id="main">

                    <!-- Post -->
                        
                        <article class="post">
                            <header>
                                <div class="title">
                                    <h2>Transparency [under development]</h2>
                                    {% plotly_app name='data_table_trial' ratio=0.45 %}                                    
                                    </div>
                            </header>
                            <footer>
                                
                            </footer>
                        </article>