
				<!-- Main -->
                <div id="main">

                    <!-- Post -->
                        
                        <article class="post">
                            <header>
                                <div class="title">
                                    <h2>Transparency [under development]</h2>
                                    </div>
                                    <blockquote>End-to-end value chain transparency on greenhouse gas (GHG) emissions 
                                        data will likely become <strong>a license to operate</strong> for organizations in the future. 
                                        [...] Through the sharing and exchange of comparable and verified product-level 
                                        primary emissions data, companies will be able to improve and accelerate 
                                        decarbonization efforts, playing their part in ensuring there is a real chance to 
                                        meet the Paris Agreement targets. <a href=https://www.wbcsd.org/contentwbc/download/11536/175031/1>WBCSD</a>
                                    </blockquote>
                            </header>
                            <footer>
                            </footer>
                        </article>