{% load static %}
{% load humanize %}

<article id="aboutus" class="post">
    <header>
        <div class="title">
            <h2>Net Zero Tracker - CO<sub>2</sub> Pricing Impact on Stock Performance</h2>
            <h3>Pilot Phase</h3>
        </div>
    </header>
    <h3>Data:</h3>
    📅 <b>Current Date:</b> {{meta.current_date}} (daily variation vs. {{meta.last_date}})
    <a href="https://finnhub.io/"> source</a>
    <br>📈 <b>CO<sub>2</sub> Price:</b> ${{meta.co2_price_current}}/ton as of {{meta.current_date}} (vs. ${{meta.co2_price_last}}/t as of {{meta.last_date}})
    <a href="https://ihsmarkit.com/products/global-carbon-index.html"> source</a>
    <br>
    <br><p>Last Update: {{meta.update_time}}</p>

    <div class="container" width=100%>

        <table id="lb_corp_table" class="lb_corporates" data-show-columns="true" data-page-length='100'>
            <thead>

                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th style='text-align:center; vertical-align:middle' colspan="2">Pre Carbon Price</th>
                    <th style='text-align:center; vertical-align:middle' colspan="2">Post Carbon Price</th>
                    <th style='text-align:center; vertical-align:middle' colspan="4">Carbon Exposure</th>

                </tr>
                <tr>
                    <th></th>
                    <th style='text-align:center; vertical-align:middle'>Net0<br>Score</th>
                    <th style='text-align:center; vertical-align:middle'>Corporate</th>
                    <th style='text-align:center; vertical-align:middle'>Last</th>

                    <th style='text-align:center; vertical-align:middle'>% CHG</th>
                    <th style='text-align:center; vertical-align:middle'>% YTD</th>
                    <th style='text-align:center; vertical-align:middle'>% CHG</th>
                    <th style='text-align:center; vertical-align:middle'>% YTD</th>
                    <th style='text-align:center; vertical-align:middle'>Rev%</th>
                    <th style='text-align:center; vertical-align:middle'>EBITDA%</th>
                    <th style='text-align:center; vertical-align:middle'>CO2 footprint</th>
                    <th style='text-align:center; vertical-align:middle'>ITR</th>


                </tr>
            </thead>
            <tbody>

                {% for i in market_stats %}
                <tr>
                    <td style='text-align:center; vertical-align:middle'><a
                            href="{% url 'corporates_home'%}{{i.company_name}}" title="{{i.company_name}}"><img
                                src="{% static 'django_project/images/logos/' %}logo_{{i.company_id}}.png"
                                alt="picture_2"></a>
                    </td>
                    <td style='text-align:center; vertical-align:middle'>{{i.score}}</td>
                    <td><a href="{% url 'corporates_home'%}{{i.company_name}}"
                            title="{{i.company_name}}">{{i.company_name}}</a></td>
                    <td style='text-align:center; vertical-align:middle'>${{i.current_c}}</td>
                    <td style='text-align:center; vertical-align:middle;
                        {% if i.pre_pct_chg < 0 %}
                        color:red'><i class="fas fa-chevron-down"></i>
                        {% else %}
                        color:green'><i class="fas fa-chevron-up"></i>
                        {% endif %}

                        {{i.pre_pct_chg}}%

                    </td>

                    <td style='text-align:center; vertical-align:middle;
                        {% if i.pre_ytd_chg < 0 %}
                        color:red'><i class="fas fa-chevron-down"></i>
                        {% else %}
                        color:green'><i class="fas fa-chevron-up"></i>
                        {% endif %}

                        {{i.pre_ytd_chg}}%
                    
                    </td>
                    
                    <td style='text-align:center; vertical-align:middle
                    {% if i.post_pct_chg < 0 %};color:red'><i class="fas fa-chevron-down"></i>{{i.post_pct_chg}}%
                    {% elif i.post_pct_chg > 0 %};color:green'><i class="fas fa-chevron-up"></i>{{i.post_pct_chg}}%
                        {% else %}
                        '>
                        {% endif %}

                    </td>
                    
                    <td style='text-align:center; vertical-align:middle
                    {% if i.post_ytd_chg < 0 %};color:red'><i class="fas fa-chevron-down"></i>{{i.post_ytd_chg}}%
                    {% elif i.post_ytd_chg > 0 %};color:green'><i class="fas fa-chevron-up"></i>{{i.post_ytd_chg}}%
                        {% else %}
                        '>
                        {% endif %}

                    </td>


                    <td style='text-align:center; vertical-align:middle
                    {% if i.rev_co2_exposure >= 0 %};color:blue'>{{i.rev_co2_exposure}}%
                        {% else %}
                        '>
                        {% endif %}

                    </td>

                    <td style='text-align:center; vertical-align:middle
                    {% if i.ebitda_exp_t1 >= 0 %};color:blue'>{{i.ebitda_exp_t1}}%
                        {% else %}
                        '>
                        {% endif %}

                    </td>

                    <td style='text-align:center; vertical-align:middle; color:Magenta'>{{i.total_footprint|intcomma}}</td>
                    <td style='text-align:center; vertical-align:middle; color:Magenta'>{{i.ITR}}°C</td>

                </tr>

                {% endfor %}

            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>

    <footer>
    </footer>
</article>

<script>
    $(document).ready(function () {
        $('#lb_corp_table').DataTable(
            {
                responsive: true,
                columnDefs: [
                    {responsivePriority: 1, targets: 0 },
                    {targets: 9,
                    render: function ( data, type, row ) {
                      var color = 'black';
                      if (data.replace(/[%]/g, '') < 10) {
                        color = 'green';
                      }
                      if (data.replace(/[%]/g, '') > 20) {
                        color = 'orange'; }
                      if (data.replace(/[%]/g, '') > 30) {
                        color = 'red';
                      }
                      return '<span style="color:' + color + '">' + data + '</span>';
                    }
               },
               {targets: 8,
                    render: function ( data, type, row ) {
                      var color = 'black';
                      if (data.replace(/[%]/g, '') < 2) {
                        color = 'green';
                      }
                      if (data.replace(/[%]/g, '') > 5) {
                        color = 'orange'; }
                      if (data.replace(/[%]/g, '') > 10) {
                        color = 'red';
                      }
                      return '<span style="color:' + color + '">' + data + '</span>';
                    }
               }
                               ],
                order: [[1, 'desc']],
            }
        );
    });
</script>