{% load static %}
<article id="aboutus" class="post">
    <header>
        <div class="title">
            <h2>Net Zero Tracker - Capital Market Indicators pre and post CO2 pricing</h2>
        </div>
    </header>
    <div class="container" width=100%>
        
        {{market_stats.1}}

        <table id="lb_corp_table" class="lb_corporates" data-show-columns="true" data-page-length='100'>
            <thead>
                
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th style='text-align:center; vertical-align:middle' colspan="2">Pre Carbon Price</th>
                    <th style='text-align:center; vertical-align:middle' colspan="2">Post Carbon Price</th>
                    <th style='text-align:center; vertical-align:middle' colspan="3">Carbon Exposure</th>

                </tr>
                <tr>
                    <th></th>
                    <th style='text-align:center; vertical-align:middle'>Net0<br>Score</th>
                    <th style='text-align:center; vertical-align:middle'>Corporate</th>
                    <th style='text-align:center; vertical-align:middle'>Last</th>

                    <th style='text-align:center; vertical-align:middle'>% CHG</th>
                    <th style='text-align:center; vertical-align:middle'>% YTD</th>
                    <th style='text-align:center; vertical-align:middle'>% CHG</th>
                    <th style='text-align:center; vertical-align:middle'>% YTD</th>
                    <th style='text-align:center; vertical-align:middle'>% Rev</th>
                    <th style='text-align:center; vertical-align:middle'>% EBITDA</th>                   
                    <th style='text-align:center; vertical-align:middle'>% MktCap</th>                   
                   
                </tr>
            </thead>
            <tbody>

                {% for i in market_stats %}
                <tr>
                    <td style='text-align:center; vertical-align:middle'><a href="{% url 'corporates_home'%}{{i.company_name}}" title="{{i.company_name}}"><img
                                src="{% static 'django_project/images/logos/' %}logo_{{i.company_id}}.png"
                                alt="picture_2"></a>
                    </td>
                    <td style='text-align:center; vertical-align:middle'>{{i.rank}}</td>
                    <td><a href="{% url 'corporates_home'%}{{i.company_name}}"
                            title="{{i.company_name}}">{{i.company_name}}</a></td>
                    <td style='text-align:center; vertical-align:middle'><i class="fas fa-chevron-up"></i>15.2</td>
                    <td style='text-align:center; vertical-align:middle'><i class="fas fa-chevron-down" style="color:red"></i>1.2%</td>
                    <td style='text-align:center; vertical-align:middle'>25.2%</td>
                    <td style='text-align:center; vertical-align:middle'>-1.3%</td>
                    <td style='text-align:center; vertical-align:middle'>-14%</td>
                    <td style='text-align:center; vertical-align:middle'>0.8%</td>
                    <td style='text-align:center; vertical-align:middle'>25%</td>
                    <td style='text-align:center; vertical-align:middle'>24%</td>
                </tr>

                {% endfor %}

            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>

    <footer>
    </footer>
</article>

<script>
    $(document).ready(function () {
        $('#lb_corp_table').DataTable(
            {
                responsive: true,
                columnDefs: [
                    { responsivePriority: 1, targets: 0 },
                ],
                order: [[1, 'asc']],
            }
        );
    });
</script>