{% load static %}
{% load humanize %}

<article id="aboutus" class="post">
    <header>
        <div class="title">
            <h2>Net Zero Tracker - Capital Market Indicators pre and post CO2 pricing</h2>
        </div>
    </header>
    <div class="container" width=100%>

        <table id="lb_corp_table" class="lb_corporates" data-show-columns="true" data-page-length='100'>
            <thead>

                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th style='text-align:center; vertical-align:middle' colspan="2">Pre Carbon Price</th>
                    <th style='text-align:center; vertical-align:middle' colspan="2">Post Carbon Price</th>
                    <th style='text-align:center; vertical-align:middle' colspan="5">Carbon Exposure</th>

                </tr>
                <tr>
                    <th></th>
                    <th style='text-align:center; vertical-align:middle'>Net0<br>Score</th>
                    <th style='text-align:center; vertical-align:middle'>Corporate</th>
                    <th style='text-align:center; vertical-align:middle'>Last</th>

                    <th style='text-align:center; vertical-align:middle'>% CHG</th>
                    <th style='text-align:center; vertical-align:middle'>% YTD</th>
                    <th style='text-align:center; vertical-align:middle'>% CHG</th>
                    <th style='text-align:center; vertical-align:middle'>% YTD</th>
                    <th style='text-align:center; vertical-align:middle'>Rev</th>
                    <th style='text-align:center; vertical-align:middle'>Rev%</th>
                    <th style='text-align:center; vertical-align:middle'>EBITDA%</th>
                    <th style='text-align:center; vertical-align:middle'>CO2 footprint</th>
                    <th style='text-align:center; vertical-align:middle'>ITR</th>


                </tr>
            </thead>
            <tbody>

                {% for i in market_stats %}
                <tr>
                    <td style='text-align:center; vertical-align:middle'><a
                            href="{% url 'corporates_home'%}{{i.company_name}}" title="{{i.company_name}}"><img
                                src="{% static 'django_project/images/logos/' %}logo_{{i.company_id}}.png"
                                alt="picture_2"></a>
                    </td>
                    <td style='text-align:center; vertical-align:middle'>{{i.score}}</td>
                    <td><a href="{% url 'corporates_home'%}{{i.company_name}}"
                            title="{{i.company_name}}">{{i.company_name}}</a></td>
                    <td style='text-align:center; vertical-align:middle'>${{i.last_price}}</td>
                    <td style='text-align:center; vertical-align:middle;
                        {% if i.pre_pct_chg < 0 %}
                        color:red'><i class="fas fa-chevron-down"></i>
                        {% else %}
                        color:green'><i class="fas fa-chevron-up"></i>
                        {% endif %}

                        {{i.pre_pct_chg}}%

                    </td>

                    <td style='text-align:center; vertical-align:middle;
                        {% if i.pre_ytd_chg < 0 %}
                        color:red'><i class="fas fa-chevron-down"></i>
                        {% else %}
                        color:green'><i class="fas fa-chevron-up"></i>
                        {% endif %}

                        {{i.pre_ytd_chg}}%
                    
                    </td>
                    
                    <td style='text-align:center; vertical-align:middle;
                    {% if i.post_pct_chg < 0 %}
                        color:red'><i class="fas fa-chevron-down"></i>
                        {% else %}
                        color:green'><i class="fas fa-chevron-up"></i>
                        {% endif %}
                    {{i.post_pct_chg}}%</td>
                    
                    <td style='text-align:center; vertical-align:middle;
                    {% if i.post_ytd_chg < 0 %}
                        color:red'><i class="fas fa-chevron-down"></i>
                        {% else %}
                        color:green'><i class="fas fa-chevron-up"></i>
                        {% endif %}

                    {{i.post_ytd_chg}}%</td>

                    <td style='text-align:center; vertical-align:middle'>{{i.ebitda_exp_t_year_end}}</td>
                    <td style='text-align:center; vertical-align:middle'>{{i.rev_co2_exposure}}%</td>
                    <td style='text-align:center; vertical-align:middle'>{{i.ebitda_exp_t1}}%</td>
                    <td style='text-align:center; vertical-align:middle'>{{i.total_footprint|intcomma}}</td>
                    <td style='text-align:center; vertical-align:middle'>{{i.ITR}}°C</td>

                </tr>

                {% endfor %}

            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>

    <footer>
    </footer>
</article>

<script>
    $(document).ready(function () {
        $('#lb_corp_table').DataTable(
            {
                responsive: true,
                columnDefs: [
                    { responsivePriority: 1, targets: 0 },
                ],
                order: [[1, 'desc']],
            }
        );
    });
</script>