{% load static %}
<!-- Post -->
<article id="top" class="post">
    <header>
        <div class="container" width=100%>
            <div class="title">
                <h2>
                    <font face="sans-serif" size="6">Net Zero Tracker</font>
                </h2>
                <p>Based on the Top 100 largest US companies (S&P 100)</p>
                <br>
                <h3>
                    NEW: Climate data are updated based on public information as of July 1st 2022. Scores are being
                    verified
                </h3>
            </div>
        </div>

    </header>

    <section>

        <div class="row">

            <div align="center" class="col-6 col-12-medium">

                <div class="container" width=100% align="center">
                    {% include "django_project/leaderboard/content/top5_lb.html" %}
                </div>
                <p>Based on the Top 100 largest US companies (S&P 100)</p>

            </div>

            <div align="center" class="col-6 col-12-medium">

                <h3>Net Zero Simply Explained</h3>
                <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/DrHugcX4o0I" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>

        </div>


    </section>

    {% comment %}
    <section>

        <div class="container" width=100% align="center">
            {% include "django_project/leaderboard/content/top5_lb.html" %}
        </div>
    </section>

    <hr />
    <section>

        <h3>Net Zero Simply Explained</h3>
        <div class="embed-container">
            <iframe src="https://www.youtube.com/embed/DrHugcX4o0I" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

    </section>
    {% endcomment %}

    <hr />

    <section>
        <div class="container" width=100% align="center">
            {% include "django_project/home/content/search.html" %}
        </div>
    </section>

    <footer>
        <blockquote>
            “It is vital that businesses go net zero, as part of our fight against climate change. Which is why we look
            to all sectors to reach a point at which a clean way of operating becomes the norm. Because if every sector
            plays its part, we will see the global economy on the right path to achieving net zero by 2050.”
            <strong>COP26 President Designate Alok Sharma</strong>
        </blockquote>
    </footer>


</article>