{% load static %}
<article class="post">
    <header>
        <div class="title">
            <h2>Half way in Net Zero Commitments</h2>
        </div>
    </header>

    <section>
        <h3>50% top 100 US companies commited to a net zero emissions target, representing 66% revenue</h3>
        <div class="row">

            <div align="center" class="col-6 col-12-medium">
                
                <img src="{% static 'django_project/images/charts/general/net_zero_pct_by_sector.jpeg' %}" class="image featured" alt="" />
                <p style="text-align:left"><b>Note: </b> Based on S&P 100 companies as of September 2021
                </p><br>
            </div>

            <div align="center" class="col-6 col-12-medium">
                
                {% include "django_project/home/content/top10_wo_zero_table.html" %}

            </div>

        </div>

    </section>
    <br><br>

    <footer>

    </footer>
</article>