{% load static %}
<article class="post">
    <header>
        <div class="title">
            <h2>Climate Tracking Intelligence</h2>
        </div>
    </header>

    <section>
        The report below by Yale University truly inspired this <a href="{% url 'aboutus' %}">website</a>, with the additional objective to provide
        updated contents
        and a scoring of the environmental performance of America's largest companies.<br>
        <h3>Net Zero: The Next Frontier for Corporate Sustainability</h3>
        <p><span class="image left"><img width="50" src="{% static 'django_project/articles/net0_frontier2.png' %}"
                    alt="" /></span>
            "When it comes to climate change, the science is unequivocal: global temperatures will continue to rise for
            decades, largely due to greenhouse gases produced by human activities. This will have catastrophic effects
            on human health, infrastructure, energy, agriculture, fisheries, sea levels, natural ecosystems, and more.
            For many, the consequences have felt distant and theoretical — until now. Unprecedented wildfires, the
            world’s first climate-induced war in Syria, PG&E’s climate-fueled bankruptcy, devastating hurricanes, and
            deadly heatwaves — among a litany of other environmental, social, and economic disasters — have changed
            this. Following the US’ withdrawal from the Paris Agreement on November 4, it is up to corporations to take
            direct responsibility for their impact on climate change.

            While many corporations, investors, regulators, and consumers agree that corporate sustainability is
            imperative, identifying best practices and which companies are ‘walking the walk’ can be challenging.
            Corporate metrics, certifications, and coalitions abound, including the Sustainable Accounting Standards
            Bureau (SASB), the Global Reporting Initiative (GRI), the Science-Based Targets Initiative (SBTi), the Task
            Force on Climate-related Financial Disclosures (TCFD), the Greenhouse Gas Protocol, the Renewable Energy 100
            (RE100), the Business Roundtable, B Corps, and benefit corporations. Greenwashing — a form of marketing that
            creates a false perception of a company’s environmental sustainability — exacerbates this confusion."
        </p>

        <ul class="actions">
            <li><a href="https://cbey.yale.edu/sites/default/files/2021-01/CBEY_NET-ZERO-FINAL_Jan2021.pdf"
                    target="_blank" rel="noopener noreferrer" class="button icon solid fa-download">Full Report</a></li>
        </ul>
    </section>
    <hr />
    <section>
        <h3>Other Net Zero Trackers</h3>
        <div class="row">
            <div class="col-6 col-12-medium">
                <p><span class="image left"><img width="50" src="{% static 'django_project/articles/msci_net0.png' %}"
                            alt="" /></span>
                    <a href="https://www.msci.com/our-solutions/climate-investing/net-zero-tracker">MSCI Net Zero
                        Tracker</a>

                    "The MSCI Net-Zero Tracker indicates the collective progress of publicly listed companies in the
                    MSCI
                    ACWI Investable Market Index (IMI)1 (which covers 9,300 listed companies, representing 99% of the
                    global equity universe) in keeping global warming well below 2°C. It also highlights the largest
                    listed companies with improved climate disclosures, as well as those that lag.
                    The MSCI Net-Zero Tracker offers investors, companies, financial intermediaries and policymakers an
                    objective gauge of the contribution by the world’s public companies to total carbon emissions and
                    their progress toward a net-zero economy."
                </p>
            </div>
            <div class="col-6 col-12-medium">
                <p><span class="image left"><img width="50" src="{% static 'django_project/articles/ecoact_net0.png' %}"
                            alt="" /></span>
                    <a href="https://eco-act.com/sustainability-reporting/the-sustainability-reporting-performance-research/
                            ">Eco-Act: The Sustainability Reporting Performance</a>

                    "Find out how some of the largest companies in the world are acting and reporting on climate-related
                    sustainability.
                    We highlight those companies leading the way in sustainability reporting across the FTSE 100, the
                    CAC 40, the IBEX 35 and the DOW 30, scoring them against criteria within four broad subject areas:
                    Measurement and Reporting,Strategy and Governance,Targets and Reduction,Engagement and Innovation.
                    2019 has been a pivotal year for sustainability and climate change, both in terms of heightened
                    public awareness and the physical impacts being experienced from a changing climate. Understanding
                    how businesses are responding and how much progress is being made towards our critical
                    goal of limiting global warming, has never been more important."
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-12-medium">

                <p><span class="image left"><img width="50" src="{% static 'django_project/articles/ECIU_net0.png' %}"
                            alt="" /></span>
                    <a href="https://www.climateaction100.org/progress/net-zero-company-benchmark/">
                        ENERGY & CLIMATE INTELLIGENCE UNIT Net Zero Tracker</a>

                    "In our latest report Taking Stock: A global assessment of net zero targets we present what is, we
                    believe, the first quantitative analysis of net zero commitments across countries, sub-national
                    governments and major companies. Teaming up with Oxford Net Zero, we surveyed more than 4,000
                    significant entities: all nations; all states and regions in the 25 highest-emitting countries; all
                    cities with a population above 500,000; and all companies in the Forbes Global 2000 list."
                </p>
            </div>
            <div class="col-6 col-12-medium">
                <p><span class="image left"><img width="50" src="{% static 'django_project/articles/CA100_net0.png' %}"
                            alt="" /></span>
                    <a href="https://www.climateaction100.org/progress/net-zero-company-benchmark/">
                        "The Climate Action 100+ Net-Zero Company Benchmark</a>

                    The Climate Action 100+ Net-Zero Company Benchmark (referred to as the Benchmark) assesses the
                    performance of focus companies against the initiative’s three high-level goals: emissions reduction,
                    governance, and disclosure. The benchmark helps investor signatories evaluate company ambition and
                    action in tackling climate change. The Benchmark draws on distinct analytical methodologies and
                    data-sets, to provide investors and other stakeholders with a robust tool to facilitate focus
                    company engagement and action. 159 focus list companies are included in the first set of assessments
                    (published in March 2021). Eight companies (Grupo Argos SA, Grupo México, Incitec Pivot, Oil Search,
                    Orica, Petróleos Mexicanos
                    – PEMEX, Saudi Arabian Oil Company (Aramco), and UltraTech Cement Ltd) have not been assessed in the
                    first iteration of the benchmark given they were added to the Climate Action 100+ focus list in
                    November
                    2020. These companies will be included in the next assessment cycle."
                </p>
            </div>
        </div>
    </section>
    <hr />

    <footer>

    </footer>
</article>