
<article class="post">
    <header>
        <div class="title">
            <h2>Search [under development]</h2>
            <p>Explore by company or by sector</p>
        </div>
    </header>
    <select class="form-select js-example-basic-single" name="state">
        <option selected disabled = "true">--Select a company--</option>

        {% for corp in corporates_names %}
        <option>{{corp.name}}</option>
        {% endfor %}

    </select>
<!--    
    <form action="{% url 'main_home' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Submit">
        <button type="submit">OK</button>
    </form>
 Post -->

    <footer>
        <ul class="actions">
            <li><a href="#" class="button large">Select a company</a></li>
        </ul>
        <ul class="actions">
            <li><a href="#" class="button large">Select a sector</a></li>
        </ul>
        <ul class="stats">
            <li><a href="#">Methodology</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </footer>
</article>