<article class="post">
    <header>
        <div class="title">
            <h2>Did You Know?</h2>
        </div>
    </header>

    <div class="row">

        {% for stat in general_stats %}

        <style>
            @keyframes fill1 {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate({{{{stat.angle}}}});
                }
            }
        </style>

        <div align="center" class="col-4 col-12-medium">
            <div class="circle-wrap circle-wrap1">
                <div class="circle circle1">
                    <div class="mask full mask1 full1" style="transform:rotate({{stat.angle}})">
                        <div class="fill fill1" style="background-color:#b1002c;transform:rotate({{stat.angle}})"></div>
                    </div>
                    <div class="mask half mask1 half1">
                        <div class="fill fill1" style="background-color:#b1002c;transform:rotate({{stat.angle}})"></div>
                    </div>
                    <div class="inside-circle inside-circle1">
                        <a href="{% url 'blog' %}#transparency">{{stat.value}}%</a>
                    </div>
                </div>
            </div>
            <h3 style="background-color:#2ebaae;">{{stat.display_name}}</h3>
            <p>{{stat.desc|safe}}</p>
        </div>

        {% endfor %}


    </div>


    {% comment %}
    <!-- template for adding an animated circular figure (replace number by a digit)

            <style>
            @keyframes fillnumber {
                0% {
                transform: rotate(0deg);
                }
                100% {
                transform: rotate({{anglenumber}});
                }
            }
            </style>

            <div align = "center" class="col-4 col-12-medium">
                <div class="circle-wrap circle-wrapnumber">						
                    <div class="circle circlenumber">					
                    <div class="mask full masknumber fullnumber" style = "transform:rotate({{anglenumber}})">
                        <div class="fill fillnumber" style = "background-color:#9fb100;transform:rotate({{anglenumber}})"></div>
                    </div>							
                    <div class="mask half masknumber halfnumber">
                        <div class="fill fillnumber" style = "background-color:#9fb100;transform:rotate({{anglenumber}})"></div>
                    </div>							
                    <div class="inside-circle inside-circlenumber">
                        {{valuenumber}}%
                    </div>							
                    </div>
                </div>
            </div>

            Then add to the css file
              .circle-wrap5 .circle5 .mask5.full5,
                .circle-wrap5 .circle5 .fill5 {
                    animation: fill5 ease-in-out 5s;
                }

        !-->
    {% endcomment %}
    <footer>
        <p>Based on the Top 100 largest US companies (S&P 100)</p>

    </footer>

</article>