@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
.lboard_section{
	width: 500px;
	height: 400px;
	margin: 100px auto 0;
	background: #646464;
	padding: 25px 40px;
	position: relative;
	border-radius: 5px;
}

.lb_left .lboard_tabs ul{
	display: flex;
	padding-left:1rem;
}

.lb_left .lboard_tabs ul li a{
	margin-right: 50px;
	font-size: 18px;
	font-weight: 600;
	color: #2ebaae;
	cursor: pointer;
}

.lb_left .lboard_tabs ul li{
	font-size: 18px;
	font-weight: 600;
	color: #2ebaae;
	margin-right:1rem;
	list-style:none;
	cursor: pointer;
}

.lb_left .lboard_tabs ul li:hover,
.lb_left .lboard_tabs ul li.active{
	color: #fff;
}



.lb_right .lboard_item{
	padding: 25px;
}

.lb_right .lboard_mem{
	display: flex;
	align-items: center;
	padding: 15px 0;
	border-bottom: 1px solid #2ebaae;
}

.lb_right .lboard_mem:first-child{
	padding-top: 0;
}

.lb_right .lboard_mem:last-child{
	padding-bottom: 0;
	border-bottom: 0;
}

.lb_right .lboard_mem .img{
	width: 50px;
}

.lb_right .lboard_mem img{
	display: flex;
	width: 100%;
}

.lb_right .lboard_mem .name_bar{
	margin: 0 20px;
	width: calc(100% - 150px);
}

.lb_right .lboard_mem .name_bar p{
	color: #3a3d51;
}

.lb_right .lboard_mem .name_bar p span{
	margin-right: 5px;
}

.lb_right .lboard_mem .points{
	width: 100px;
	color: #3a3d51;
}

.lb_right .lboard_mem .name_bar .bar_wrap{
	width: 100%;
	height: 5px;
	background: #9fb100;
	margin-top: 5px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.lb_right .lboard_mem .name_bar .bar_wrap .inner_bar{
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	background: #fff;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.lb_container{
	display:flex;
	width:100%;
}

.lb_left {
	width:100%;
	background: #646464;
	margin: 0rem 2rem 2rem 0rem;
	border-radius: 5px;

}

.lb_right {
	width:100%;
	height: 100%;
	background: #2ebaae;
	margin-left: -97%;
	margin-top:2rem;
	border-radius: 5px;
}

.lb_corporates img{
	width: 30px;
}