:root {
  --star-size: 30px;
  --star-color: rgba(63, 61, 61, 0.185);
  --star-background: rgb(22, 107, 22);
  --fa_star-background: rgb(22, 107, 22);
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}
.Stars::before {
  content: "🌿🌿🌿🌿🌿";
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa_Stars{
  content: "☘☘☘☘☘";
  --percent: calc(var(--fa_rating) / 5 * 100%);
  display: inline-block;
}
.fa_Stars::before {
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
