{% load static %}
<p  class="copyright" align = "center">&copy; Vincent Manier - September 2021 <a href="{% url 'aboutus' %}">About us</a> . <a href="{% url 'blog' %}">Blog</a> </p>
</div>

</section>
</div>

<!-- Scripts -->
<!--<script src="{% static 'django_project/assets/js/jquery.min.js' %}"></script>-->
<script src="{% static 'django_project/assets/js/browser.min.js' %}"></script>
<script src="{% static 'django_project/assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'django_project/assets/js/util.js' %}"></script>
<script src="{% static 'django_project/assets/js/main.js' %}"></script>

</body>
</html>