{% load static %}
<p  class="copyright" align = "center">&copy; Vincent Manier - July 2021 </p>
</div>

</section>
</div>

<!-- Scripts -->
<script src="{% static 'django_project/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'django_project/assets/js/browser.min.js' %}"></script>
<script src="{% static 'django_project/assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'django_project/assets/js/util.js' %}"></script>
<script src="{% static 'django_project/assets/js/main.js' %}"></script>
</body>
</html>