{% load static %}
<p  class="copyright" align = "center">&copy; Vincent Manier - July 2021 </p>
</div>

</section>
</div>

<!-- Scripts -->
<script src="{% static 'django_project/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'django_project/assets/js/browser.min.js' %}"></script>
<script src="{% static 'django_project/assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'django_project/assets/js/util.js' %}"></script>
<script src="{% static 'django_project/assets/js/main.js' %}"></script>
<script src=  
"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src=  
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  
    
    <link href=  
"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" /> 
<!--
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
-->
</body>
</html>