	
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<h1><font face = "sans-serif" size = "4"><a href="{% url 'main_home'%}/#top">NET 0 Tracker</a></font></h1>
						<nav class="links">
							<ul>
								<li><a href="/proto.html/3m">Prototype</a></li>
								<li><a href="http://net0tracker.org/#contactus">About us</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<!-- 
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								-->

								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search 
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>
						-->

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="proto.html/3m">
											<h3>Transparency</h3>
											<p>Explore data by sector, by company</p>
										</a>
									</li>
									<li>
										<a href="ambition.html">
											<h3>Net Zero Targets</h3>
											<p>More details on corporate commitments</p>
										</a>
									</li>
									<li>
										<a href="sciencebased.html">
											<h3>Science-Based Targets</h3>
											<p>Dashboard to track progress</p>
										</a>
									</li>
									<li>
										<a href="http://net0tracker.org/#contactus">
											<h3>Contact Us</h3>
											<p></p>
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions 
							<section>
								<ul class="actions stacked">
									<li><a href="#" class="button large fit">Log In</a></li>
								</ul>
							</section>
						-->

					</section>