{% load static %}

<!-- Post -->
<article class="post">
    <header>
        <div class="title">
            <h2>Methodology and Frequently Asked Questions</h2>
        </div>
    </header>

    <section>
        <h3 id="methodology">Methodology</h3>
        <p>
            The scoring methodology consists in 10 criteria : 3 for transparency, 4 for commitments and 3 for results.
            Maximum score by criteria is 10 points. </p>

        <div class="table-wrapper">
            <table>
            <table>
                <thead>
                    <tr>
                        <th><b>Criteria / Tests</b></th>
                        <th><b>Points</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Criteria 1 : Transparency on operational emissions (Scope 1 + 2)</b>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Are S1+S2 figures publicly-disclosed for the last reporting year and the preceding period?
                        </td>
                        <td>5 pts</td>
                    </tr>
                    <tr>
                        <td>Are S1+S2 figures verified by a 3rd-party for the last reporting year?
                        </td>
                        <td>5 pts</td>
                    </tr>
                    <tr>
                        <td><b>Criteria 2 : Transparency on value chain emissions (Scope 3)</b>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Are the 15 categories disclosed? Total scope 3 can be aggregated or details are provided in
                            the CDP report (link to the questionnaire to be provided. Link to CDP website is not enough)
                        </td>
                        <td>0 (no disclosure), 2.5 (partly) or 5 (full) pts</td>
                    </tr>
                    <tr>
                        <td>Are S3 figures verified by a 3rd-party for the last reporting year?
                        </td>
                        <td>0 (no disclosure), 2.5 (partly) or 5 (full) pts</td>
                    </tr>
                    <tr>
                        <td><b>Criteria 3 : Quality and Frequency of reporting</b>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>What is the latest CDP score (no later than the preceding year)?
                        </td>
                        <td>A: 5 pts <br>F: 0 pt</td>
                    </tr>
                    <tr>
                        <td> How many interim reporting were provided between 2 reporting periods (GHG emissions only)?
                        </td>
                        <td>5 pts for 3+ interim reporting (quarterly reporting)</td>
                    </tr>

                    <tr>
                        <td><b>Criteria 4 : Net Zero Commitments</b>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Does the net 0 target include a statement of a generally-accepted net zero emission target
                            by 2050?
                        </td>
                        <td>3 pts</td>
                    </tr>
                    <tr>
                        <td>Does the net zero target include an intermediate target by 2030?
                        </td>
                        <td>3 pts</td>
                    </tr>

                    <tr>
                        <td>Does the net zero target include all the emissions?
                        </td>
                        <td>4 pts</td>
                    </tr>
                    <tr>
                        <td><b>Criteria 5 : Target year for Net Zero Commitments</b>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Target year for achieving net zero emissions for S1+S2?
                        </td>
                        <td>Linear from 2020 (5 pts) to 2050 (0 pts)</td>
                    </tr>
                    <tr>
                        <td>Target year for achieving net zero emissions for S1+S2+S3 combined?
                        </td>
                        <td>Linear from 2020 (5 pts) to 2050 (0 pts)</td>
                    </tr>

                    <tr>
                        <td><b>Criteria 6 : Reduction objectives</b>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>What is the forward-looking GHG% reduction (without compensation) for scope 1+2?
                        </td>
                        <td>Linear from 0% (0 pts) to 5%+ per year (5 pts)</td>
                    </tr>
                    <tr>
                        <td>What is the forward-looking GHG% reduction (without compensation) for scope 1+2+3?
                        </td>
                        <td>Linear from 0% (0 pts) to 5%+ per year (5 pts)</td>
                    </tr>
                    <tr>
                        <td><b>Criteria 7 : Science-Based Targets</b>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>What type of science-based target (as validated by SBTi) did the company commit to?
                        </td>
                        <td>Targets Set_1.5°C : 10 pts <br>
                            Targets Set_Well-below 2°C : 7.5 pts <br>
                            Targets Set_2°C : 5 pts <br>
                            Committed_10 pts : 2.5 points <br>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Criteria 8 : Results based on scope 1 - 2</b>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Performance to date: cumulative% reduction in line with target for Scope 1 - 2?
                        </td>
                        <td>Linear from target (0 pts) to +10% vs target (5 pts)</td>
                    </tr>
                    <tr>
                        <td>Momentum: last year % reduction in line with forward-looking target for Scope 1 - 2?
                        </td>
                        <td>Linear from target (0 pts) to +10% vs target (5 pts)</td>
                    </tr>
                    <tr>
                        <td><b>Criteria 9 : Results based on scope 1 - 2 - 3</b>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Performance to date: cumulative% reduction in line with target for Scope 1 - 2 - 3?
                        </td>
                        <td>Linear from target (0 pts) to +10% vs target (5 pts)</td>
                    </tr>
                    <tr>
                        <td>Momentum: last year % reduction in line with forward-looking target for Scope 1 - 2 - 3?
                        </td>
                        <td>Linear from target (0 pts) to +10% vs target (5 pts)</td>
                    </tr>
                    <tr>
                        <td><b>Criteria 10 : <a
                            href="https://www.msci.com/our-solutions/climate-investing/net-zero-solutions/implied-temperature-rise"
                            target="_blank" rel="noopener noreferrer">Implied Temperature Rise (ITR)</a></b>
                        </td>
                        <td>Is the company aligned with global climate targets?</td>
                    </tr>

                    <tr>
                        <td>Below 1.5°C : 10 pts <br>
                            1.5°C - 2.0°C : 7.5 pts <br>
                            2.0°C - 2.5°C : 5.0 pts <br>
                            2.5°C - 3.0°C : 2.5 pts <br>
                            Above 3.0°C : 0 pts 
                        </td>
                        <td>10 pts</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><b>Total</b></td>
                        <td><b>100 pts</b></td>
                    </tr>
                </tfoot>
            </table>

    </section>
    <hr />
    <br> <br>
    <section>
        <h3 id="faq">Frequently Asked Questions (FAQ)</h3>
        <p>
            <hr /><b>What are the objectives of Net0Tracker.org?</b><br>

            Net0Tracker tracks the climate performance of major companies by analysing GreenHouse Gas (GHG) emissions
            performance and a focus on 3 main areas:

        <ul>
            <li>Reporting <b>transparency</b></li>
            <li>Reduction <b>commitments</b></li>
            <li>Actual <b>results</b></li>
        </ul>
        Companies have a major role to play in the fight against climate change. Over the past 2 years, we have
        observed a significant acceleration in carbon reduction commitments (science-based targets, net zero, carbon
        neutrality...) but, in the absence of regulation and widely-adopted standards, it remains very challenging
        for the general public to understand which company is serious and truly delivers on its commitments. A
        majority of employees and consumers care about climate commitments but few information exist to truly
        differentiate greenwashing from serious companies.
        Net0Tracker.org aims at improving transparency and keeping companies accountable on their climate
        commitments.

        There is also a lack of public and freely-available climate-related data on carbon emissions of major
        companiesa as most data providers sell their services to investors and portfolio managers. We consider
        climate data as a public good and essential to manage the climate crisis in the coming years. By publishing
        climate data, Net0Tracker.org hopes to contribute to democratize the use of climate data at scale and
        encourage companies to improve reporting accuracy, completeness and timeliness.


        <hr /><b>How do you ensure data quality?</b><br>

        Data quality is a major challenge for 2 reasons: most climate data live in PDF files, on the website of
        companies or sold by data providers; there are also inconsistencies across different sources (CDP data
        sometimes differ from public data). Two main strategies are adopted to ensure data quality:
        <ul>
            <li> compare data sources. For example, Net0Tracker.org analyses both CDP data and public data. In case of
                more
                than 5% discrepancy on a similar emission scope or category, CDP data is preferred (most data on
                sustainability reports of companies are rounded). When data is only available in one data source, we use
                this single source. For example, a lot of companies do not publish unverified data, like some scope 3
                emissions categories. CDP data is used in case the company reports its scope 3 emissions to CDP only.
            </li>
            <li>document data acquisition: every data is fully documented. These documents will be made available on
                Net0Tracker.org, which will support data verification. It is particularly useful to document changes
                over
                time as some emissions calculations (especially scope 3 and sometimes scope 2 because of REC accounting)
                tend to be updated retroactively.</li>
        </ul>
        <hr /><b>What is the scoring methodology?</b><br>

        The scoring methoology will be documented <a href="{% url 'faq' %}#methodology">here</a>. We are open to feedbacks and suggestions to improve it.
        Please feel free to contact us.

        <hr /><b>Do you intend to scale to other companies in the US and internationally?</b><br>

        Yes, this is the grand vision after stabilizing the scoring methodology and testing the public appetite
        for
        more data and analysis.

        <hr /><b>Do companies have a right to comment their scores?</b><br>
        Yes and it is strongly encouraged. The scoring methodology is a very data-driven approach that aims at
        benchmarking all the companies independently from their sector. We welcome providing additional context
        that
        will enrich the understanding of the relative climate performance of the companies. There may be some
        errors
        in data or changes in perimeter (especially in baseline figures, in case of acquisitions or disposals) -
        companies are strongly encouraged to ask for corrections if necessary.

        <hr><b>How can I provide feedbacks? How can I contribute?</b><br>

        Please contact us by email.

        </p>
    </section>
    <hr />
    <footer>
        <ul class="icons">
            <li><a href="https://twitter.com/VincentManier" target="_blank" rel="noopener noreferrer"
                    class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.linkedin.com/in/vincent-manier-85aa257/" target="_blank" rel="noopener noreferrer"
                    class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="mailto: vmanier2020@gmail.com" target="_blank" rel="noopener noreferrer"
                    class="icon solid fa-envelope"><span class="label">Email</span></a></li>

        </ul>
    </footer>
</article>