<article class="post">
    <header>
        <div class="container" width=100%>
            <div class="title">
                <h2>
                    <font face="sans-serif" size="6">CDP: {{corp_name}}</font>
                </h2>
            </div>
        </div>
    </header>
    <section>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.errors}}
            <fieldset>
                <legend>CDP - Climate Change Questionnaire</legend>

                <p>
                <div class="input_question">
                    {{form.questionnaire_year.label}}</div>
                {{form.questionnaire_year}}
                </p>
                {% include 'input/common/radio_choices.html' with field=form.made_public %}
                <p>
                <div class="input_question">
                    {{form.score.label}}</div>
                {{form.score}}
                </p>
                {{form.comments}}

            </fieldset>

            {% include 'input/common/upload_files_form.html' with form=form model=cdp%}

            {% block buttons_section %}

            {% endblock %}
        </form>

    </section>

</article>