<article class="post">
    <header>
        <div class="container" width=100%>
            <div class="title">
                <h2>
                    <font face="sans-serif" size="6">CDP: {{corp_name}}</font>
                </h2>
            </div>
        </div>
    </header>
    <section>

        <div class="success_msg">{{success_message}}</div>


        {%if cdp %}
        <h2>Existing CDP Recorded</h2>
        <table>
            <tr>
                <th>Records</th>
                <th>Questionnaire Year</th>
                <th>Score</th>
                <th>Last Update</th>
                <th># Uploads</th>
                <th>Actions</th>
            </tr>
            {% for record in cdp %}
            <tr>
                <td><a href="{% url 'input_by_corp_cdp_update' corp_name=corp_name pk=record.id%}">{{record}}</a>
                </td>
                <td>{{record.questionnaire_year}}</td>
                <td>{% if record.score %} {{record.score|upper}}{% endif %}</td>
                <td>{{record.last_update}}</td>
                {% with countuploads=0 %}
                <td>
                    {{record.number_of_uploads}}
                    / {{record.size_of_uploads}}
                </td>
                {% endwith %}

                <td>
                    <a></a>
                    <a class="fas fa-edit" href="{% url 'input_by_corp_cdp_update' corp_name=corp_name pk=record.id%}">
                        Change </a>
                    <a class="fas fa-trash" href="{% url 'input_by_corp_cdp_delete' corp_name=corp_name pk=record.id%}">
                        Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        There is no data saved for {{corp_name}}. Please click on the link below to create a new record
        {% endif %}

        <hr>
        <a class="fas fa-plus-circle" href="{% url 'input_by_corp_cdp_create' corp_name=corp_name %}"> Click here to
            register a new CDP</a>

    </section>

</article>