{% load static %}
<article id="aboutus" class="post">
    <header>
        <div class="title">
            <h2>Corporates Leaderboard</h2>
            <p>Under development</p>
        </div>
    </header>
    <div class="container" width=100%>

        <table id="example" class="lb_corporates">
            <thead>
                <tr>
                    <th></th>
                    <th>Rank</th>
                    <th>Corporate</th>
                    <th>Transparency</th>
                    <th>Commitments</th>
                    <th>Actions</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>

                {% for i in scores %}
                <tr>
                    <td><img src="{% static 'django_project/images/logos/' %}logo_{{i.company_id}}.png" alt="picture_2">
                    </td>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.company_name}}</td>
                    <td>{{i.transp_score}}</td>
                    <td>{{i.comm_score}}</td>
                    <td>{{i.actions_score}}</td>
                    <td>{{i.score}}</td>
                </tr>

                {% endfor %}


            </tbody>
            <tfoot>
                <tr>
                    <th>Average</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>xxxx</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <footer>
    </footer>
</article>

<script>
    $(document).ready(function () {
        $('#example').DataTable(
            {
                responsive: true,
                columnDefs: [
                    { responsivePriority: 1, targets: 1 },
                    { responsivePriority: 2, targets: -1 },
                    { responsivePriority: 3, targets: 0 }
                ]
            }
        );
    });
</script>