<!-- Post -->
{% load static %}
<article id="leaderboard" class="post">
    <header>
        <div class="title">
            <h2><a href="{% url 'leaderboard_home' %}">Corporates LeaderBoard</a></h2>
            <p>Net 0 tracker - Design Only</p>
        </div>
    </header>
    <div class="lb_container">
        <div class="lb_left">
            <div class="lboard_tabs">
                <div class="tabs">
                    <ul>
                        <li class="active" data-li="level1">Top5</li>
                        <li data-li="level2">Bottom5</li>
                        <!--<li data-li="level3">All</li>-->
                        <li><a href="{% url 'leaderboard_home' %}">All</a></li>

                    </ul>
                </div>
            </div>


        </div>

        <div class="lb_right">

            <div class="lboard_item level1" style="display: block;">
                {% for i in top5_scores %}
                    <div class="lboard_mem">
                        <div class="img">
                            <img src="{% static 'django_project/images/logos/logo_' %}{{i.company_id }}.png" alt="">
                        </div>
                        <div class="name_bar">
                            <p><span>{{i.rank}}.&nbsp;</span>{{i.company_name}}</p>
                            <div class="bar_wrap">
                                <div class="inner_bar" style="width: 95%"></div>
                            </div>
                        </div>
                        <div class="points">
                            {{i.score}} points
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="lboard_item level2" style="display: none;">
                <div class="lboard_mem">
                    <div class="img">
                        <img src="{% static 'django_project/images/logos/' %}logo_19.png" alt="picture_4">
                    </div>
                    <div class="name_bar">
                        <p><span>1.</span>Blackrock </p>
                        <div class="bar_wrap">
                            <div class="inner_bar" style="width: 95%"></div>
                        </div>
                    </div>
                    <div class="points">
                        195 points
                    </div>
                </div>
                <div class="lboard_mem">
                    <div class="img">
                        <img src="{% static 'django_project/images/logos/' %}logo_1.png" alt="picture_2">
                    </div>
                    <div class="name_bar">
                        <p><span>1.</span>3M</p>
                        <div class="bar_wrap">
                            <div class="inner_bar" style="width: 95%"></div>
                        </div>
                    </div>
                    <div class="points">
                        195 points
                    </div>
                </div>
            </div>
            <div class="lboard_item level3" style="display: none;">
                <div class="lboard_mem">
                    <div class="img">
                        <img src="{% static 'django_project/images/logos/' %}logo_19.png" alt="picture_2">
                    </div>
                    <div class="name_bar">
                        <p><span>1.</span>Blackrock</p>
                        <div class="bar_wrap">
                            <div class="inner_bar" style="width: 95%"></div>
                        </div>
                    </div>
                    <div class="points">
                        195 points
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'django_project/scripts/leaderboard.js' %}"></script>
</article>